<footer class="footer">
    <div class="container">
        <div class="footer-top cols cols--acenter">
            <div class="footer-logo cols cols--acenter">
                <a href="/">
                    <img src="/img/logo.png" alt="Компания Конкрит" />
                </a>
                <a href="/">
                    <span>строительная компания</span>
                    <span>КОНКРИТ</span>
                </a>
            </div>
            <nav class="footer-menu">
                <ul class="cols">
                    <li>
                        <a href="javascript:;" class="page-link" data-link="anchor-geo">география проектов</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link" data-link="anchor-price">СТОИМОСТЬ</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link" data-link="anchor-project">проектирование</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link" data-link="anchor-tech">техника</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link" data-link="anchor-serts">сертификация</a>
                    </li>
                </ul>
            </nav>
            <div class="footer-soc cols cols--acenter">
                <a href="" class="icon icon-vkontakte"></a>
                <a href="" class="icon icon-youtube"></a>
                <a href="" class="icon icon-instagram"></a>
            </div>
        </div>
        <div class="footer-bottom cols">
            <div class="footer-contacts">
                <span class="icon icon-i1">+7 (8332) 78–66–92</span>
                <span class="icon icon-i14">konkrit-gnb@gmail.com</span>
                <span class="icon icon-i13">Киров, ул. Р.Люксембург, 100</span>
            </div>
            <nav class="footer-menu">
                <ul class="cols">
                    <li>
                        <a href="/">о компании </a>
                    </li>
                    <li>
                        <a href="/">услуги</a>
                    </li>
                    <li>
                        <a href="/">технологии</a>
                    </li>
                    <li>
                        <a href="/">реквизиты</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer-copy">
                <div>ООО "Конкрит" - 2019г.</div>
                <a href="https://reefstudio.ru" target="_blank">разработка сайта: REEF</a>
            </nav>
        </div>
    </div>
</footer>