<footer class="footer">

    <div class="footer-wrapper">
        <div class="footer-wrapper-left">
            <div class="footer-nav">
                <ul class="cols cols--acenter">
                    <li>
                        <a href="javascript:;" class="page-link" >о компании</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link" >портфолио</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link">проекты</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link">акции</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link">блог</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link">контакты</a>
                    </li>
                </ul>
            </div>
            <div class="footer-service">
                <div>

                <div class="footer-header">
                    <h2>Услуги</h2>
                </div>
                <div class="lists">
                    <div class="lists-left">
                        <ul>
                            <li>
                                <a href="javascript:;">Проектирование</a>
                            </li>
                            <li>
                                <a href="javascript:;">Фундамент</a>
                            </li>
                            <li>
                                <a href="javascript:;">Кровельные работы</a>
                            </li>
                            <li>
                                <a href="javascript:;">Гаражи</a>
                            </li>
                            <li>
                                <a href="javascript:;">Малые архитектурные формы</a>
                            </li>
                        </ul>
                    </div>
                    <div class="lists-right">
                        <ul>
                            <li>
                                <a href="javascript:;">Заборы</a>
                            </li>
                            <li>
                                <a href="javascript:;">Дизайн интерьера</a>
                            </li>
                            <li>
                                <a href="javascript:;">Отделка</a>
                            </li>
                            <li>
                                <a href="javascript:;">Дополнительные услуги</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            <div class="footer-home">
                <div class="footer-header">
                    <h2>Дома</h2>
                </div>
                <div class="lists">
                    <div class="lists-left">
                        <ul>
                            <li>
                                <a href="javascript:;">Кирпичные дома</a>
                            </li>
                            <li>
                                <a href="javascript:;">Монолитные дома</a>
                            </li>
                            <li>
                                <a href="javascript:;">Дома из керамоблоков</a>
                            </li>
                            <li>
                                <a href="javascript:;">Дома из силикатных блоков</a>
                            </li>
                        </ul>
                    </div>
                    <div class="lists-right">
                        <ul>
                            <li>
                                <a href="javascript:;">Дома из профилированного бруса</a>
                            </li>
                            <li>
                                <a href="javascript:;">Дома из оцилиндрованого бревна</a>
                            </li>
                            <li>
                                <a href="javascript:;">Дома из клееного бруса</a>
                            </li>
                            <li>
                                <a href="javascript:;">Рубленые дома</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="footer-wrapper-middle">
            <form >
                <div class="form--title">остались вопросы?</div>
                <div class="form--caption">
                    <p>Отправьте сообщение на konkrit@kirov.ru</p>
                    <p>Или заполните форму обратной связи</p>
                    <p>Наши сотрудники свяжутся с Вами в течение 3 минут</p>
                </div>
                    <div class="form--item">
                        <input type="text" class="textfield" value="" name="1" placeholder="Ваше имя" data-rule-required="true">
                    </div>
                    <div class="form--item">
                        <input type="text" class="textfield mask-phone-ru" name="43" value="" placeholder="Номер телефона"  data-rule-required="true">
                    </div>
                    <div class="checkbox-c checkboxes">
                        <label class="checkbox checkbox-plain-js">
                            <div class="checkbox__icon"></div>
                            <input type="radio" name="agree" checked value="1" data-rule-required="true" aria-required="true" />
                            Я согласен с <a href="" target="_blank">обработкой персональных даных</a>
                        </label>
                    </div>
                <div class="form--actions">
                    <button type="submit" class="btn">отправить</button>
                </div>
            </form>



        </div>
        <div class="footer-wrapper-right">
            <div class="header-logo cols cols--acenter">
                <a href="/">
                    <img src="/img/fav.png" alt="Компания Конкрит" />
                </a>
                <a href="/">
                    <span>строительная компания</span>
                    <span>КОНКРИТ</span>
                </a>
            </div>
            <p>Строительство жилых и нежилых помещений</p>
            {# <div class="footer-social">
                <a href=""><img src="/img/youtube.png" alt=""></a>
                <a href=""><img src="/img/vk.png" alt=""></a>
            </div> #}
            <div class="footer-social">
                <a href="" class="icon-youtube-play"></a>
                <a href="" class="icon-vkontakte"></a>
            </div>
            <div class="social-phone">
                <a href="tel:+7 (8332) 78–66–92"><span class="icon icon-i1"><span>+7 (8332) 78–66–92</span></span></a>
                <a href="tel:+7 (8332) 78–66–92"><span class="icon icon-i1"><span>+7 (8332) 78–66–92</span></span></a>
            </div>
            <div class="adress-footer">
                <p>Киров</p>
                <p>Р.Люксембург, 100</p>
            </div>
            <div class="work-time">
                <p>Время работы: 9.00-18.00</p>
                <p>Выходной: Сб - Вс</p>
            </div>
            <div class="inn">
                <p>ИНН 4345359831</p>
                <p>ОГРН 1134345013923</p>
            </div>
            <div class="wader">
                <p> &copy 2019 ООО Конкрит </p>
                <p>Разработчик сайта - REEF </p>
            </div>
        </div>
    </div>

{#     
    <div class="container">
        <div class="footer-top cols cols--acenter">
            <div class="footer-logo cols cols--acenter">
                <a href="/">
                    <img src="/img/logo.png" alt="Компания Конкрит" />
                </a>
                <a href="/">
                    <span>строительная компания</span>
                    <span>КОНКРИТ</span>
                </a>
            </div>
            <nav class="footer-menu">
                <ul class="cols">
                    <li>
                        <a href="javascript:;" class="page-link" data-link="anchor-geo">география проектов</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link" data-link="anchor-price">СТОИМОСТЬ</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link" data-link="anchor-project">проектирование</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link" data-link="anchor-tech">техника</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link" data-link="anchor-serts">сертификация</a>
                    </li>
                </ul>
            </nav>
            <div class="footer-soc cols cols--acenter">
                <a href="" class="icon icon-vkontakte"></a>
                <a href="" class="icon icon-youtube"></a>
                <a href="" class="icon icon-instagram"></a>
            </div>
        </div>
        <div class="footer-bottom cols">
            <div class="footer-contacts">
                <span class="icon icon-i1">+7 (8332) 78–66–92</span>
                <span class="icon icon-i14">konkrit-gnb@gmail.com</span>
                <span class="icon icon-i13">Киров, ул. Р.Люксембург, 100</span>
            </div>
            <nav class="footer-menu">
                <ul class="cols">
                    <li>
                        <a href="/">о компании </a>
                    </li>
                    <li>
                        <a href="/">услуги</a>
                    </li>
                    <li>
                        <a href="/">технологии</a>
                    </li>
                    <li>
                        <a href="/">реквизиты</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer-copy">
                <div>ООО "Конкрит" - 2019г.</div>
                <a href="https://reefstudio.ru" target="_blank">разработка сайта: REEF</a>
            </nav>
        </div>
    </div> #}
</footer>