<header class="header">
    <div class="container">
        <div class="header-top cols cols--acenter">
            <div class="header-left">
                <div class="header-logo cols cols--acenter">
                    <a href="/">
                        <img src="/img/fav.png" alt="Компания Конкрит" />
                    </a>
                    <a href="/">
                        <span>строительная компания</span>
                        <span>КОНКРИТ</span>
                    </a>
                </div>
                {# <div class="header-social">
                    <a href="tel:+7 (8332) 78–66–92"><span class="icon icon-i1"></span></a>
                </div>
                <div class="header-phone">
                    <a href="tel:+7 (8332) 78–66–92"><span class="icon icon-i1"><span>+7 (8332) 78–66–92</span></span></a>
                </div> #}
            </div>
            <nav class="header-menu">
                <ul class="cols cols--acenter">
                    <li>
                        <a href="/" class="icon-svg1"></a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link" >услуги</a>
                    </li>
                    <li>
                        <a href="/about.html" class="page-link" >о компании</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link" >портфолио</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link">проекты</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link">акции</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link">блог</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="page-link">контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="hamburglar is-close tablet-show" id="hamburger">
                <div class="burger-icon">
                    <div class="burger-container">
                        <div class="burger-bun-top"></div>
                        <div class="burger-filling"></div>
                        <div class="burger-bun-bot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<header class="header">
    <div class="container">
    <div class="header-offer-main">
        <div class="header-offer-left">
            <div class="header-offer-text">
                <h1>строим всё.</h1>
                <div class="social-info">
                    <div class="social-phone">
                        <a href="tel:+7 (8332) 78–66–92"><span class="icon icon-i1"><span>+7 (8332) 78–66–92</span></span></a>
                        <a href="tel:+7 (8332) 78–66–92"><span class="icon icon-i1"><span>+7 (8332) 78–66–92</span></span></a>
                    </div>
                    <div class="social-adress">
                        <p>Киров, <br/> Р.Люксембург, 100</p>
                        {# <p>Р.Люксембург, 100</p> #}
                    </div>
                </div>
            </div>
            <div class="header-offer-img">
                <div class="footer-social">
                    <a href=""><img src="/img/youtube1.png" alt=""></a>
                    <a href=""><img src="/img/vk1.png" alt=""></a>
                </div>
                <p>Строительство<br/>жилых и не жилых помещений</p>
            </div>
        </div>
        <div class="header-offer-right">
            <div class="header-offer-img">
                <img src="../../img/Skreen.jpg" alt="">
            </div>
            <div class="header-offer-text">
                <p>Строительство дачных домов и коттеджей, нерудные материалы, аренда строительной и спецтехники, строительные и отделочные работы, специализированые работы</p>
            </div>
        </div>
    </div>
        {# <div class="header-offer cols">
            <div class="header-offer--img">
                <div class="header-offer--img-abs img-to-bg">
                    <img src="/img/p1.jpg" alt="ГНБ" />
                    <div class="header-offer--img-loc cols cols--acenter cols--start">
                        <span class="icon icon-location"></span>
                        <span>Киров,<br>
                        р.ЛЮКСЕМБУРГ, 100</span>
                    </div>
                    <div class="header-offer--img-lined"></div>
                </div>
                <div class="header-offer--img-soc">
                    <a href="" class="icon icon-vkontakte"></a>
                    <a href="" class="icon icon-youtube"></a>
                    <a href="" class="icon icon-instagram"></a>
                </div>
            </div> #}
            {# <div class="header-offer--text">
                <div class="form form-header form-validate form-ajax">
                    <form class="form-validate">
                        <div class="form--title">ПОЛУЧИТЕ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</div>
                        <div class="form--caption">Мы свяжемся с Вами в течение 3 минут</div>
                            <div class="form--item">
                                <input type="text" class="textfield" value="" name="1" placeholder="Ваше имя" data-rule-required="true">
                            </div>
                            <div class="form--item">
                                <input type="text" class="textfield mask-phone-ru" name="43" value="" placeholder="Номер телефона"  data-rule-required="true">
                            </div>
                            <div class="checkbox-c checkboxes">
                                <label class="checkbox checkbox-plain-js">
                                    <div class="checkbox__icon"></div>
                                    <input type="checkbox" name="agree" checked value="1" data-rule-required="true" aria-required="true" />
                                    Я согласен с <a href="" target="_blank">обработкой персональных даных</a>
                                </label>
                            </div>
                        <div class="form--actions">
                            <button type="submit" class="btn">отправить</button>
                        </div>
                    </form>
                </div>
                <h1 class="header-offer--text-caption h1">
                    Горизонтально<br>
                    направленное бурение
                </h1>
            </div> #}

        {# </div> #}
    </div>
</header>

