.header-about {
    .container {
        // padding: 0 10px;
    }
    .header-about-h1 {
        display: flex;
        justify-content: flex-end;
        h1 {
            margin: 50px 0 0 0;
        }
    }
    .breadcrumbs {
        position: relative;
        color: black;
        font-size: 20px;
        margin: 0 0 30px 0;
        /* max-width: 1340px;
        min-width: 260px; */
        // padding: 20px 0;
        // margin: 0 auto;
        li {
            margin: 0;
            &::before {
                content: none;
            }
        }
        
    }
    .breadcrumbs > ul{
        display: flex;
    }
    .breadcrumbs > ul > li {
        display: inline-block;
        font-size: 14px;
        line-height: 1.2;
        position: relative;
        margin-right: 13px;
        padding: 0;
        color: #000;
    }
    .breadcrumbs > ul > li:after {
        content: "";
        position: absolute;
        top: 10px;
        right: -12px;
        width: 11px;
        border-bottom: 1px solid #a9a9a9;
        -webkit-transform: rotate(-70deg);
        transform: rotate(-70deg);
    }
    .breadcrumbs-link {
        display: block;
        text-decoration: none;
        color: #999;
        padding-top: 2px;
        padding-bottom: 3px;
    }
    .breadcrumbs-link:hover {
        text-decoration: underline;
    }
    .breadcrumbs > ul > li:last-child::after {
        content: none;
    }
    &-main {
        background-color: #ecf1f1;
        .about-main {
            position: relative;
            display: flex;
            background-color: #ecf1f1;
            &-left {
                position: relative;
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;
                margin: 0 0 40px 0;
                &-item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    h2 {
                        font-size: 48px;
                        color: #89bec6;
                        margin: 40px 0 15px 0;
                    }
                    h3 {
                        margin: 0 0 10px 0;
                        color: #0000008c;
                    }
                    p {
                        line-height: 1.5;
                        margin: 0 10px 10px 0;
                        max-width: 560px;
                    }
                }
            }
            &-right {
                position: relative;
                flex: 1;
                background: url('/img/sloy8.jpg') no-repeat;
                background-size: cover;
            }
        }
    }
}

.slogan-about {
    .container {
        padding: 0 10px;
    }
    .slogan {
        padding: 50px 25px 50px 0; ;
    }
}

.about-news {
    .blog-news {
        .container {
            padding: 0 10px;
        }
        .blog-button {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.services-home {
    .slogan-line-2 {
        background: none;
        .slogan-2 {
            &::before {
                content: none;
            }
            &::after {
                content: none;
            }
        }
    }
    .doma {
        background: none;
    }
    .about-blue-line {
        .container {
            &:before {
                content: none;
            }
            .doma-wrap {
                display: flex;
                align-items: center;
                padding: 60px 0 60px 80px;
                flex-wrap: wrap;
                .doma-about {
                    flex: 2;
                    display: flex;
                    min-width: 200px;
                    h1 {
                        margin: 0;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        top: -10px;
                        left: -80px;
                        height: 4px;
                        width: 50px;
                        background-color: #82bac3e0;
                      }
                      &:after {
                        content: '';
                        position: absolute;
                        top: 13px;
                        left: -103px;
                        height: 4px;
                        width: 50px;
                        background-color: #82bac3e0;
                        transform: rotate(90deg);
                      }
                }
                .doma-arrow-down {
                    position: relative;
                    flex: 1;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 18px;
                        height: 4px;
                        width: 50px;
                        background-color: #585858ad;
                        transform: rotate(-40deg);
                      }
                      &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -18px;
                        height: 4px;
                        width: 50px;
                        background-color: #585858ad;
                        transform: rotate(40deg);
                      }
                }
                .doma-text {
                    flex: 4;
                    min-width: 270px;
                    p {
                        line-height: 18px;
                    }
                }
            }
        }
        
    }
}

.services-options {
    position: relative;
    .service {
        position: relative;
        display: flex;
        flex-direction: column;
        &-line {
            flex: 1;
            display: flex;
            border-bottom: 1px solid #00000046;
            &:last-child {
                border: none;
            }
            
            &-block {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                img {
                    margin: 40px 0 10px 0;
                }
                h2 {
                    font-size: 24px;
                    color: #000000;
                    margin: 15px 0 15px 0;
                }
                h3 {
                    margin: 0 0 10px 0;
                    color: #0000008c;
                }
                p {
                    line-height: 1.5;
                    margin: 0 10px 10px 0;
                    max-width: 350px;
                }
                div:last-child {
                    margin: 20px 0 40px 0;
                }
                li {
                    position: relative;
                    color: #000000;
                    display: flex;
                    padding: 0;
                    a {
                        text-decoration: none;
                        color: #000000;
                    }
                    &:hover::after {
                        color: #82bac3;
                    }
                    &::before {
                        content: none;
                    }
                    &::after {
                        content: '\e800';
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 30px;
                        position: relative;
                        top: 2px;
                        font-size: 12px;
                        font-family: fontello;
                    }
                    & a:hover {
                        color: #82bac3;
                        text-decoration: underline;
                         li {
                            color: #82bac3;
                            
                        }
                    }
                }
            }
            
        }
    }
}


// portfolio
.gallery-grid-wrapper {
    background-color: #f1f4f4;
}
.gallery-grid {
    position: relative;
    max-width: 1560px;
    margin: 0 auto;
    
    a {
        text-decoration: none;
    }
    .gallery-header {
        max-width: 1540px;
        width: 100%;
        height: 50px;
        background-color: #82bac3;
        margin: 0 10px 20px 10px;
        .container {
            display: flex;
            align-items: center;
            height: 100%;
            p {
                font-size: 14px;
                color: white;
                margin: 0;
            }
        }
    }
    .img-s {
        position: relative;
        overflow: hidden;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    .grid-container {
        display: grid;
        // grid-template-columns: 2fr 1fr 2fr;
        // grid-template-rows: 1fr 1fr 1fr;
        grid-auto-rows: minmax(150px, auto);
        // grid-template-columns: minmax(150px,300px);
        grid-gap: 10px;
        // margin: 0 10px;
        margin: 0 10px 35px 10px;
        @media (min-width: 650px) {
            grid-template-columns: minmax(310px, 620px) minmax(310px, 620px);
        }
        @media (min-width: 850px) {
            grid-template-areas: "first four five" "second gallery-card five" "third gallery-card six";
            grid-template-columns: minmax(310px, 620px) minmax(150px,300px) minmax(310px, 620px);
            grid-template-rows: 33.3% 33.3% 33.3%;
            grid-auto-rows: minmax(100px, auto);
        }
        img {
            // max-width: 100%;
            // max-height: 100%;
            // position: absolute;
            object-fit: cover;
            width: fit-content;
            height: 100%;
            filter: grayscale(1);
            transition: ease-in-out .5s;
            &:hover {
            filter: grayscale(0);
            // transform: scale(0.99);
        }
        }
        
      }
      
      .first {
        display: flex;
        grid-gap: 10px;
        @media (min-width: 650px) {
            grid-column: 1;
            grid-row: 1;
            display: flex;
            
        }
        @media (min-width: 850px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: ". gallery-blog";
            grid-area: first;
        }
      }
      
      .gallery-blog {
            flex: 1;
            background-color: white;
            border: 2px solid gray;
            margin-left: 10px;
            display: flex;
            .build-home {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: left;
                width: 100%;
                h3, span {
                    color: #585858;
                }
                h3 {
                    font-size: 24px;
                    font-family: "BebasNeueBold", sans-serif;
                    line-height: 1.3;
                }
              }
            @media (min-width: 650px) {
                flex: 1;
                margin-left: 10px;
            }
            @media (min-width: 850px) {
                grid-area: gallery-blog;
                margin-left: 0; 
            } 
            
        }
      
      .second {
        display: grid;
        grid-column: 1;
        overflow: hidden;
        @media (min-width: 650px) {
            grid-column: 2;
            // grid-template-columns: minmax(310px, 620px) minmax(150px,300px);
        }
        @media (min-width: 850px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: ".";
            grid-area: second;
        }
      }
      
      .third {
        display: grid;
        grid-gap: 10px;
        grid-column: 1;
        @media (min-width: 650px) {
            // grid-template-columns: minmax(310px, 620px) minmax(150px,300px);
        }
        @media (min-width: 850px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: ". .";
            grid-area: third;
        }
      }
      
      .five { 
        @media (min-width: 650px) {
            grid-column: 1;
            grid-row: 4/5;
        }
        @media (min-width: 850px) {
            grid-area: five;
        }
        }
      
      .six {
        display: grid;
        grid-gap: 10px;
        flex-direction: row;
        @media (min-width: 650px) {
            display: flex;
            flex-direction: column;
        }
        @media (min-width: 850px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: ". gallery-frame";
            grid-area: six;
        }
        }
      
      .gallery-frame {
          display: flex;
        .frame-quad {
            background-color: #52afb9;
            display: flex;
            width: 100%;
            position: relative;
            &::after {
              content: '';
              position: absolute;
              left: 0px;
              width: 100%;
              height: 100vw;
              background-color: #52afb92e;
              z-index: -1;
            }
          }
          .frame {
            width: 100%;
            // height: 100%;
            position: relative;
            border: 3px solid white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 25px;
            &-text {
              flex: 1;
              display: flex;
              align-items: center;
              width: auto;
              h3 {
                color: white;
              }
            }
            &-arrow {
              position: relative;
              width: 100%;
              height: 100%;
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              &-item {
                position: relative;
                width: 100px;
                height: 100px;
                &:before {
                  content: '';
                  position: absolute;
                  top: 50px;
                  right: 26px;
                  height: 3px;
                  width: 45px;
                  background-color: white;
                  transform: rotate(50deg);
                }
                &:after {
                  content: '';
                  position: absolute;
                  top: 83px;
                  right: 26px;
                  height: 3px;
                  width: 45px;
                  background-color: white;
                  transform: rotate(-50deg);
                }
              }
            }
          } 
          
        @media (min-width: 650px) {
            flex: 1;
        }
        @media (min-width: 850px) {
            grid-area: gallery-frame;
        } 
        }
      
      .four {
        @media (min-width: 650px) {
            // grid-template-columns: minmax(310px, 620px) minmax(150px,300px);
        }
        @media (min-width: 850px) { 
            grid-area: four;
        }
        }
      
      .gallery-card {
        grid-column: 1;
        grid-row: 7/10;
        display: flex;
        .project-item {
            div {
              margin: 0;
            }
            position: relative;
            // width: 300px;
            // height: 480px;
            // margin: 10px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            // border: 1.5px solid gray;
            &:hover {
              .project-item-img img {
                filter: grayscale(0);
              }
            }
            &-cont {
              flex: 1;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding-left: 10%;
              border: 1.5px solid gray;
              border-top: 0;
              background-color: white;
            }
            &-img {
              position: relative;
              // width: 300px;
              // height: 300px;
              overflow: hidden;
              height: 140px;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;
              flex: 40.5%;
              img {
                height: 100%;
                filter: grayscale(1);
                transition: ease-in-out .5s;
              }
            }
            &-describe {
                padding: 10%;
                max-height: 180px;
                display: flex;
                flex-direction: column;
                border: 1.5px solid gray;
                border-top: 0;
                border-bottom: 0;
                background-color: white;
                p {
                  margin: 1px;
                  color: #a3a2a2;
                }
                &-head {
                  flex: 1;
                  .head-header p{
                    font-size: 24px;
                    font-family: "BebasNeueBold", sans-serif;
                    font-weight: 400;
                    line-height: 1.3;
                    color: #585858;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    // padding: 0;
                  }
                  .head-subheader {
                    font-size: 13px;
                  }
                }
                &-foot {
                  flex: 1;
                  display: flex;
                  padding-top: 35px;
                  &-left {
                    flex: 2;
                    display: flex;
                    flex-wrap: wrap;
                    align-self: flex-end;
                    
                    span {
                      color: #a3a2a2;
                      font-size: 17px;
                      padding-right: 8px;
                    }
                    // img {
                    //   height: 16px;
                    //   padding-right: 10px;
                    //   margin: 1px;
                    // }
                    p {
                      padding: 0 20px 5px 0;
                      &:last-child {
                        padding-right: 0px;
                        font-size: 12px;
                      }
                    }
                  }
                  &-right {
                    font-family: "BebasNeueBold", sans-serif;
                    flex: 1;
                    text-align: right;
                    text-transform: uppercase;
                    font-size: 24px;
                  }
                }
              }
          }
          @media (min-width: 650px) {
            grid-column: 2;
            grid-row: 3/5;
            
        }
        @media (min-width: 850px) { 
            grid-area: gallery-card; 
        }
        }
        .grid-container-2 {
            display: grid;
            grid-template-columns: minmax(310px, 620px) minmax(310px, 620px) minmax(150px, 300px);
            grid-template-rows: 300px 300px;
            grid-auto-rows: minmax(100px, auto);
            grid-gap: 10px;
            margin: 0 10px;
            img {
                // max-width: 100%;
                // max-height: 100%;
                // position: absolute;
                object-fit: cover;
                width: fit-content;
                height: 100%;
                filter: grayscale(1);
                transition: ease-in-out .5s;
                &:hover {
                filter: grayscale(0);
            }
            }
            .seven {
                display: grid;
                grid-column: 1;
                grid-row: 1 / 3;
            }
            .eight {
                grid-column: 2;
                grid-row: 1;
            }
            .nine {
                grid-column: 2;
                grid-row: 2;
                display: flex;
                grid-gap: 10px;
            }
            .gallery-blog-2 {
                flex: 1;
                display: flex;
                margin: 0 10px 0 0;
            }
            .ten {
                display: flex;
                grid-column: 3;
                grid-row: 1 / 3;
            }
        }
       
}
.pagination {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin: 60px 0 0 0;
    padding: 60px 0;
    &-left {
        ul {
            position: relative;
            display: flex;
            align-items: center;
            li {
                margin: 0;
                a {
                    color: $color5;
                    &:hover{
                        color: black;
                    }
                    &:active {
                        color: black;
                        font-size: 1.5em;
                    }
                }
            }
        }

    }
    &-right {
        p {
            margin: 0;
        }
    }
}
.gallery-filter {
    .filter-wrap {
        padding-top: 30px;
        border-top: 1px solid #b2b2b2;
        .ul-blue-ring {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            align-items: center;
            width: 100%;
            div {
                position: relative;
                width: 10px;
                height: 10px;
                background-color: #82bac3;
                border-radius: 50%;
                opacity: .2;
            }
        }
        &-header {
            display: flex;
            justify-content: space-between;
            h2 {
                font-family: "BebasNeueBold", sans-serif;
                margin: 0 0 50px 0;
            }
            .filter-close {
                cursor: pointer;
                position: relative;
                width: 40px;
                height: 40px;
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $color5;
                    transform: rotate(45deg);
                    top: 20px;
                    transition: ease .5s;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $color5;
                    transform: rotate(-45deg);
                    top: 20px;
                    transition: ease .5s;
                }
                &:hover {
                    &::before {
                        transform: rotate(225deg); 
                    }
                    &::after {
                        transform: rotate(135deg); 
                    }
                }
            }
        }
        &-content {
            margin-bottom: 50px;
            li {
                font-size: 14px;
                margin: 0 0 15px 0;
                padding: 0 40px 0 0;
            }
        }
        &-footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 35px;
            p {
                margin: 0;
            }
            &-btns {
                .btn--white {
                    border-color: $color5;
                    &:hover {
                        border-color: #82bac3;
                    }
                }
            }
        }
    }
}

// Проекты домов

.project-home-header {
    .filter-wrap-content {
        margin-bottom: 15px;
        // ul {
        //     flex-wrap: wrap;
        // }
        li {
            padding: 0 25px 0 0;
            min-width: 100px;
        }
        h3 {
            font-family: "BebasNeueBold", sans-serif;
            color: #82bac3;
        }
        .input-text-block {
            margin: 40px 0;
            display: flex;
            .input-ruble {
                display: flex;
                position: relative;
                .ruble {
                    font-family: "BebasNeue", sans-serif;
                    position: absolute;
                    right: 21px;
                    font-size: 22px;
                    top: 9px;
                    margin: 0;
                    color: #a3a2a2;
                }
            }
            input {
                width: 125px;
                height: 35px;
                margin-right: 10px;
                padding: 0 10px;
                font-weight: 500;
            }
        }
        .input-range {
                input {
                    -webkit-appearance: none;
                    width: 100%;
                    height: 1px;
                    background: #585858;
                    outline: none;
                    // opacity: 0.7;
                    transition: opacity .2s;
                
                &:hover {
                    opacity: 1;
                }
                
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 15px;
                    height: 15px;
                    background: #a3a2a2;
                    cursor: pointer;
                    transform: rotate(45deg);
                    transition: ease .5s;
                    &:hover {
                        background: #82bac3;
                    }
                }
                
                &::-moz-range-thumb {
                    width: 15px;
                    height: 15px;
                    background: #a3a2a2;
                    cursor: pointer;
                    transform: rotate(45deg);
                }
                }
        }
        $multiRangeHeight: 1px;
        input[type="range"][multiple] {
        display: block;
        height: $multiRangeHeight;
        margin: 0;
        pointer-events: none;
        
        
        & + input[type="range"][multiple] {
            margin-top: -1px;
        }
        }

        @mixin multirange-thumb {
        pointer-events: all;
        }
        input[type="range"]::-webkit-slider-thumb {
        @include multirange-thumb;
        }
        input[type="range"]::-moz-range-thumb {
        @include multirange-thumb;
        }
        input[type="range"]::-ms-thumb {
        @include multirange-thumb;
        }
    }
}
.project-home-content {
    background-color: #f1f4f4;
    .projects-header {
        background-color: #82bac3;
        p {
            padding: 19px 40px;
            color: white;
            font-size: 14px;
        }
    }
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        .wrap-projects {
            
            max-width: fit-content;
            margin: 0;
            grid-gap: 20px;
            &::before {
               content: none; 
            }
            &::after {
                content: none; 
            }
            @media (min-width: 650px) {
                grid-template-columns: 300px 300px;
              }
            @media (min-width: 920px) {
            grid-template-columns: 300px 300px 300px;
            grid-template-rows: minmax(150px, auto) minmax(150px, auto);
            grid-auto-rows: minmax(100px, auto);
            }
            @media (min-width: 1300px) {
            grid-template-columns: 300px 300px 300px 300px;
            grid-template-rows: minmax(150px, auto) minmax(150px, auto);
            grid-auto-rows: minmax(100px, auto);
            }
        }
    }
    .container {
        a {
            text-decoration: none;
        }
        &::before {
            content: none; 
         }
         &::after {
             content: none; 
         }
    }
}
.projects-home-describe {
    .container {
        display: flex;
        justify-content: flex-start;
    }
    .home-describe-text {
        margin: 40px 0 65px 0;
        max-width: 900px;
        p {
            font-size: 14px;
            line-height: 1.7;
            margin: 0 0 40px 0;
        }
    }
}
