html {
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
  height: 100%;
}

body {
  position: relative;
  font-family: $font1;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  height: 100%;
  background: #fff;
  min-width: 300px;

  @media (max-width: $mobile) {

  }

  @media (max-width: 319px) {
    overflow-x: auto;
  }
}

.notransition {
  transition: none!important;
}

.touchevents body {
  cursor: pointer;
}

.touchevents .touch-focused {
  cursor: pointer;
}

.no-touchevents body {

  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar:vertical {
    width: 5px;
  }

  ::-webkit-scrollbar:horizontal {
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba($color1, 0.3) !important;
    border-radius: 100px;
    border: none;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100px;
    margin: 5px 0;
    border: none;
    background-color: rgba($color1, 0.1) !important;
  }
}

*, *:before, *:after {
  @include box-sizing(border-box);
}


.no-animation {

  *, *:before, *:after {
    animation: none!important;
  }
}

.no-transition {

  *, *:before, *:after {
    transition: none!important;
  }
}


::-moz-selection { background: rgba($color3, 0.8); color: #000; text-shadow: none; }
::selection { background: rgba($color3, 0.8); color: #000; text-shadow: none; }


/*
*
* Skeleton elements
*
*/
.span-nav {
  font-size: 16px;
  padding-top: 50px;
  // padding-bottom: 100px;
  a {
    position: relative;
    text-decoration: none;
    color: $color5;
    transition: ease-in-out .5s;
    &::after {
      content: '\e800';
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      font-family: fontello;
      transition: ease-in-out .5s;
      position: absolute;
      bottom: 2px;
      right: -14px;
  }
  &:hover {
      color: #82bac3;
      text-decoration: underline;
      &::after {
        transform: translateX(4px);
      }
  }
  }
  
}
.span-ease {
    color: #585858;
    font-size: 16px;
    line-height: 3;
    &::after {
      content: '\e800';
      display: inline-block;
      vertical-align: middle;
      margin-left: 14px;
      position: relative;
      top: 0px;
      font-size: 12px;
      font-family: fontello;
      transition: ease-in-out .5s;
    }
}

.checkbox-blue {
  .checkbox-button {
    cursor: pointer;
  }
  
  input[type=checkbox] {
      box-sizing: border-box;
      padding: 0;
  }
  
  input {
      font-size: 1rem;
      line-height: 1.5;
      padding: 11px 23px;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 0;
      outline: 0;
      background-color: transparent;
  }
  
  .checkbox-button__input {
      opacity: 0;
      position: absolute;
  }
  
  .checkbox-button__control {
      position: relative;
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 12px;
      vertical-align: middle;
      background-color: inherit;
      color: #017b5f;
      border: 1px solid #666;
  }
  
  .checkbox-button__input:checked+.checkbox-button__control:after {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 13px;
      height: 13px;
      background-color: #82bac3;
  }
  
  .checkbox-button__input:checked+.checkbox-button__control {
      border-color: black;
  }
  
  .checkbox-button__control {
    transform: scale(0.85);
  }
}
.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable-x {
  overflow-y: hidden;
  overflow-x: auto;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 300px;
  position: relative;
  @media(max-width:1260px) {
    padding: 0 10px;
  }

  @media (max-width: $screen_large) {

  }

  @media (max-width: $screen) {

  }

  @media (max-width: $tablet) {

  }

  @media (max-width: $mobile) {

  }

  @media (max-width: $mobile_small) {

  }
}


.wrap {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}




/*

Responsive Helpers

 */

.respon-meter {
  position: absolute;
  z-index: 9999;

  @media (max-width: $screen) {
    z-index: 1259;
  }

  @media (max-width: $tablet) {
    z-index: 1023;
  }

  @media (max-width: $mobile) {
    z-index: 479;
  }
}



.tablet-show,
.tablet-show-inline-block,
.tablet-show-inline,
.tablet-show-table-row,
.tablet-show-flex,
.tablet-show-table-cell {
  display: none!important;
}

@media (max-width: $tablet) {

  .tablet-hide {
    display: none!important;
  }

  .tablet-show {
    display: block!important;
  }

  .tablet-show-inline-block {
    display: inline-block!important;
  }

  .tablet-show-inline {
    display: inline!important;
  }

  .tablet-show-table-row {
    display: table-row!important;
  }

  .tablet-show-table-cell {
    display: table-cell!important;
  }
  .tablet-show-flex {
    display: flex!important;
  }
}


.mobile-show,
.mobile-show-inline-block,
.mobile-show-inline,
.mobile-show-table-cell {
  display: none!important;
}

@media (max-width: $mobile) {

  .mobile-hide {
    display: none!important;
  }

  .mobile-show {
    display: block!important;
  }

  .mobile-show-inline-block {
    display: inline-block!important;
  }

  .mobile-show-inline {
    display: inline!important;
  }

  .mobile-show-table-cell {
    display: table-cell!important;
  }
}


.mobile-small-show,
.mobile-small-show-inline-block,
.mobile-small-show-inline,
.mobile-small-show-table-cell {
  display: none!important;
}

@media (max-width: $mobile) {

  .mobile-small-hide {
    display: none!important;
  }

  .mobile-small-show {
    display: block!important;
  }

  .mobile-small-show-inline-block {
    display: inline-block!important;
  }

  .mobile-small-show-inline {
    display: inline!important;
  }

  .mobile-small-show-table-cell {
    display: table-cell!important;
  }
}


.mobile-xsmall-show,
.mobile-xsmall-show-inline-block,
.mobile-xsmall-show-inline,
.mobile-xsmall-show-table-cell {
  display: none!important;
}

@media (max-width: $mobile_small) {

  .mobile-xsmall-hide {
    display: none!important;
  }

  .mobile-xsmall-show {
    display: block!important;
  }

  .mobile-xsmall-show-inline-block {
    display: inline-block!important;
  }

  .mobile-xsmall-show-inline {
    display: inline!important;
  }

  .mobile-xsmall-show-table-cell {
    display: table-cell!important;
  }
}


.mobile-xxsmall-show,
.mobile-xxsmall-show-inline-block,
.mobile-xxsmall-show-inline,
.mobile-xxsmall-show-table-cell {
  display: none!important;
}

@media (max-width: $mobile_xsmall) {

  .mobile-xxsmall-hide {
    display: none!important;
  }

  .mobile-xxsmall-show {
    display: block!important;
  }

  .mobile-xxsmall-show-inline-block {
    display: inline-block!important;
  }

  .mobile-xxsmall-show-inline {
    display: inline!important;
  }

  .mobile-xxsmall-show-table-cell {
    display: table-cell!important;
  }
}