.ui-slider-horizontal .ui-slider-range{
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background: #585858;
  outline: none;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
.ui-widget.ui-widget-content{
  border: none;
  height: 1px;
  background: #585858;
}

.ui-slider-handle{
  -webkit-appearance: none !important;
  appearance: none !important;
  width: 15px !important;
  height: 15px !important;
  top: -7px !important;
  background: #a3a2a2 !important;
  cursor: pointer;
  transform: rotate(45deg);
  border: none !important;
  outline: none;
  border-radius: 0 !important;
  cursor: pointer !important;
  &:hover {
    background: #82bac3 !important;
  }
}