{% extends "./includes/layout-about.twig" %}

{% block content %}
<section class="header-about">
    <div class="container">
        <div class="header-about-h1">
            <h1>О компании</h1>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li><a class="breadcrumbs-link" href="">Главная</a></li>
                <li><a class="breadcrumbs-link" href="">Блог</a></li>
                <li><a class="breadcrumbs-link" href="">О компании</a></li>
            </ul>
        </div>
    </div>
    <section class="header-about-main">
        <div class="container">
            <div class="about-main">
                <div class="about-main-left">
                    <div class="about-main-left-item">
                        <h2>опыт</h2>
                        <h3>15 лет качественной работы</h3>
                        <p>Компания «Конкрит» обладает пятнадцатилетним опытом в сфере строительства — за это время мы прошли путь от небольшой команды, специализирующейся на фундаментных работах до крупного предприятия с собственным проектным, дизайнерским и инженерным отделом, обширным автопарком спецтехники, и множеством довольных заказчиков, включая известные государственные корпорации. </p>
                    </div>
                    <div class="about-main-left-item">
                        <h2>индивидуальность</h2>
                        <h3>и любой уровень сложности проекта</h3>
                        <p>На счету компании как промышленные здания, так и множество объектов индивидуального строительства — как простые и весьма бюджетные дома, так и особняки с высокой архитектурной сложностью и множеством оригинальных решений. При этом к реализации каждого проекта мы подходим индивидуально, и она строго контролируется нашими специалистами в соответствии со всеми строительными нормами. </p>
                    </div>
                    <div class="about-main-left-item">
                        <h2>Комплексность</h2>
                        <h3>от проекта до подбора участка</h3>
                        <p>«Конкрит» осуществляет полное и комплексное сопровождение строительства дома — от проектирования и даже подбора участка в желаемом районе до чистовой отделки, дизайнерского надзора и консультации по выбору строительных материалов. Благодаря обширному штату, наличию собственных поставщиков и автопарка, реализация объекта под нашим руководством происходит быстро и слаженно, а результат будет радовать долгие годы. </p>
                    </div>
                </div>
                <div class="about-main-right">
                    <div style="height: 500px;"></div>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="slogan-about">
    <div class="slogan-line">
        <div class="container">
            <div class="slogan">
                <div class="h1"> ВЫ МЕЧТАЕТЕ - МЫ ВОПЛОЩАЕМ.</div>
            </div>
        </div>
    </div>
</section>
<section class="about-news">
    <div class="blog-news">
        <div class="container">
            <div class="blog-wrap">
                <div class="blog-item">
                    <div class="blog-header">
                        <p>Зима пришла</p>
                    </div>
                    <div class="blog-subheader">
                        <p>А мы всеравно строим</p>
                    </div>
                    <div class="blog-date">
                        <p>22 сент. 2019</p>
                    </div>
                    <div class="blog-text">
                        <p>
                        Технология горизонтально направленого бурения 
                        позволяет оперативно и безопасно проложить 
                        инженерные коммуникации, не меняя окружающий
                        </p>
                    </div>
                    <div class="span-nav">
                        <a href="">Подробнее</a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-header">
                        <p>Новые высоты с новым краном</p>
                    </div>
                    <div class="blog-subheader">
                        {# <p>А мы всеравно строим</p> #}
                    </div>
                    <div class="blog-date">
                        <p>22 сент. 2019</p>
                    </div>
                    <div class="blog-text">
                        <p>
                        Технология горизонтально направленого бурения 
                        позволяет оперативно и безопасно проложить 
                        инженерные коммуникации, не меняя окружающий
                        </p>
                    </div>
                    <div class="span-nav">
                        <a href="">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="blog-button">
                <button class="btn">Читать в блоге</button>
            </div>
        </div>
    </div>
</section>


{% endblock %}