{% extends "./includes/layout-about.twig" %}

{% block content %}
<section class="header-about">
    <div class="container">
        <div class="header-about-h1">
            <h1>Блог</h1>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li><a class="breadcrumbs-link" href="">Главная</a></li>
                <li><a class="breadcrumbs-link" href="">Блог</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="gallery-filter">
    <div class="container">
        <div class="filter-wrap">
            <div class="filter-wrap-header">
                <h2>Подбор статей по темам</h2>
                <div class="filter-close"></div>
            </div>
            <div class="filter-wrap-content">
                <ul style="display: flex;">
                    <li>
                        <ul>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Дома
                                </label>
                            </li>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Гаражи
                                </label>
                            </li>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Бани
                                </label>
                            </li>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Беседки
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Заборы
                                  </label>
                            </li>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Фундаменты
                                  </label>
                            </li>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Кровля
                                  </label>
                            </li>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Интерьеры
                                  </label>
                            </li>
                        </ul>
                    </li>
                    <li class="li-blue-round">
                        <ul class="ul-blue-ring">
                            <li><div></div></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Фотографии
                                  </label>
                            </li>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Проекты
                                  </label>
                            </li>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Планы
                                  </label>
                            </li>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Фасады
                                  </label>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Стройка
                                  </label>
                            </li>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Процесс
                                  </label>
                            </li>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Проектирование
                                  </label>
                            </li>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Коммуникации
                                  </label>
                            </li>
                        </ul>
                    </li>
                    <li class="li-blue-round">
                        <ul class="ul-blue-ring">
                            <li><div></div></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Дизайн интерьера
                                  </label>
                            </li>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Отделка
                                  </label>
                            </li>
                            <li class="checkbox-blue">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                    <span class="checkbox-button__control"></span>
                                    Сопутствующие услуги
                                  </label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="filter-wrap-footer">
                <div class="filter-wrap-footer-btns">
                    <div class="btn btn--black btn--wide">Отфильтровать</div>
                    <div class="btn btn--white btn--wide">Сбросить фильтр</div>
                </div>
                <div class="choice-proj">
                    <p>Выбрано проектов - <span>150</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-content">
    <div class="container">
        <div class="projects-header">
            <p>Полезная и интересная информация о строительстве и не только</p>
        </div>
    </div>
    <div class="container">
        <div class="blog-content-header">
            <div class="blog-content-header-wrap">
                <div class="blog-content-header-wrap-left">
                    <img src="img/sloy9.jpg" alt="">
                </div>
                <div class="blog-content-header-wrap-right">
                    <h2>Бассейн на участке загородного дома</h2>
                    <p class="subhead">«За» и «против», подводные камни.</p>
                    <span>22 сент, 2019</span>
                    <p>
                        Купание и плавание всегда было полезно для здоровья человека. 
                        В современных темпах жизни у людей не остается свободного времени для расслабления и мечтаний. 
                        Отличным выходом ситуации является наличие бассейна на участке загородного дома. 
                        После суеты городских дел приятно вечером окунуться в кристально чистую воду и провести час другой 
                        в раздумьях или в кругу семьи.
                    </p>
                    <p>
                        Бассейны делятся на нескольких видов: <br/>
                        - стационарные;<br/>
                        - каркасные;<br/>
                        - надувные.
                    </p>
                    <p>
                        Отличия заключаются в цене, удобстве использования и конструкции. 
                        Каждый из вариантов имеет свои преимущества и недостатки. 
                        Наиболее престижным являются стационарные модели, 
                        остальные лишь стараются скопировать его функционал.
                    </p>
                    <a href="" class="read-more">
                        Читать больше
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="blog-content-main">
        <div class="container">
            <div>
                <div class="blog-content-header">
                    <div class="blog-content-header-wrap">
                        <div class="blog-content-header-wrap-left">
                            <img src="img/sloy10.jpg" alt="">
                        </div>
                        <div class="blog-content-header-wrap-right">
                            <h2>Бассейн на участке загородного дома</h2>
                            <span>22 сент, 2019</span>
                            <p>
                                Купание и плавание всегда было полезно для здоровья человека. 
                                В современных темпах жизни у людей не остается свободного времени для расслабления и мечтаний. 
                                Отличным выходом ситуации является наличие бассейна на участке загородного дома. 
                            </p>
                            <div class="span-nav"><a href="" >Подробнее</a></div>
                        </div>
                    </div>
                </div>
                <div class="blog-content-header">
                    <div class="blog-content-header-wrap">
                        <div class="blog-content-header-wrap-left">
                            <img src="img/sloy11.jpg" alt="">
                        </div>
                        <div class="blog-content-header-wrap-right">
                            <h2>Бассейн на участке загородного дома</h2>
                            <span>22 сент, 2019</span>
                            <p>
                                Купание и плавание всегда было полезно для здоровья человека. 
                                В современных темпах жизни у людей не остается свободного времени для расслабления и мечтаний. 
                                Отличным выходом ситуации является наличие бассейна на участке загородного дома. 
                            </p>
                            <div class="span-nav"><a href="" >Подробнее</a></div>
                        </div>
                    </div>
                </div>
                <div class="blog-content-header">
                    <div class="blog-content-header-wrap">
                        <div class="blog-content-header-wrap-left">
                            <img src="img/sloy12.jpg" alt="">
                        </div>
                        <div class="blog-content-header-wrap-right">
                            <h2>Бассейн на участке загородного дома</h2>
                            <span>22 сент, 2019</span>
                            <p>
                                Купание и плавание всегда было полезно для здоровья человека. 
                                В современных темпах жизни у людей не остается свободного времени для расслабления и мечтаний. 
                                Отличным выходом ситуации является наличие бассейна на участке загородного дома. 
                            </p>
                            <div class="span-nav"><a href="" >Подробнее</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <div class="pagination-left">
                  <ul>
                      <li><a href="">1</a></li>
                      <li><a href="">2</a></li>
                      <li><a href="">3</a></li>
                      <li><a href="">4</a></li>
                      <li><a href="">5</a></li>
                      <a href=""><li class="icon-right-open-big"></li></a>
                  </ul>
                </div>
                <div class="pagination-right">
                  <p>Всего страниц - 6</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}