{% extends "./includes/layout-about.twig" %}

{% block content %}
<section class="header-about">
    <div class="container">
        <div class="header-about-h1">
            <h1>Контакты</h1>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li><a class="breadcrumbs-link" href="">Главная</a></li>
                <li><a class="breadcrumbs-link" href="">Блог</a></li>
                <li><a class="breadcrumbs-link" href="">Контакты</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="contacts-block-1">
    <div class="container">
        <div class="contacts-grey-line">
            <p>Дата обновления информации - 20.01.2020</p>
        </div>
        <div class="contacts-inform">
            <h2>общество с ограниченной ответственностью</h2>
            <div>
                <p>Юридический адрес 141006, Московская область, город Мытищи, улица Кедрина, дом 3, квартира 162</p>
                <p>Руководитель - Кононов Александр Анатольевич</p>
                <p>ОГРН - 1134345013923</p>
                <p>ИНН / КПП - 4345359831 / 502901001</p>
            </div>
            <p>Стротельство жилых и нежилых зданий</p>
        </div>
    </div>
</section>
<section class="contacts-block-2">
    <div class="container">
        <div class="contacts-wrap">
            <div class="contacts-wrap-left">
                <ul>
                    <li>Московская область, город Мытищи, улица Кедрина, дом 3</li>
                    <li> <a href="+7 (8332) 78–66–92">+7 (8332) 78–66–92</a>, <a href="+7 (8332) 78–66–92">+7 (8332) 78–66–92</a></li>
                    <li>konkrit@kirov.ru</li>
                    <li>конкрит.рф</li>
                </ul>
                <div class="contact-btns">
                    <a href="" class="btn btn--wide">Написать письмо</a>
                    <a href="" class="btn btn--black btn--wide">Позвонить</a>
                </div>
            </div>
            <div class="contacts-wrap-right">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aba4ce29d0e1f7ae3af9a3bc5e2ff9915671d9cf8113eacdcbd0abbe969fca1bd&amp;width=680&amp;height=420&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
        </div>
    </div>
</section>
<section class="slogan-about">
    <div class="slogan-line">
        <div class="container">
            <div class="slogan">
                <div class="h1"> ВЫ МЕЧТАЕТЕ - МЫ ВОПЛОЩАЕМ.</div>
            </div>
        </div>
    </div>
</section>
<section class="about-news">
    <div class="blog-news">
        <div class="container">
            <div class="blog-wrap">
                <div class="blog-item">
                    <div class="blog-header">
                        <p>Зима пришла</p>
                    </div>
                    <div class="blog-subheader">
                        <p>А мы всеравно строим</p>
                    </div>
                    <div class="blog-date">
                        <p>22 сент. 2019</p>
                    </div>
                    <div class="blog-text">
                        <p>
                        Технология горизонтально направленого бурения 
                        позволяет оперативно и безопасно проложить 
                        инженерные коммуникации, не меняя окружающий
                        </p>
                    </div>
                    <div class="span-nav">
                        <a href="">Подробнее</a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-header">
                        <p>Новые высоты с новым краном</p>
                    </div>
                    <div class="blog-subheader">
                        {# <p>А мы всеравно строим</p> #}
                    </div>
                    <div class="blog-date">
                        <p>22 сент. 2019</p>
                    </div>
                    <div class="blog-text">
                        <p>
                        Технология горизонтально направленого бурения 
                        позволяет оперативно и безопасно проложить 
                        инженерные коммуникации, не меняя окружающий
                        </p>
                    </div>
                    <div class="span-nav">
                        <a href="">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="blog-button">
                <button class="btn">Читать в блоге</button>
            </div>
        </div>
    </div>
</section>


{% endblock %}