{% extends "./includes/layout.twig" %}

{% block content %}
<section class="slogan-line">
<section class="container">
    <div class="slogan">
        <div class="slogan-caption">Закажите обратный звонок бесплатно, оставив новмер телефона</div>
        <div class="h1"> ВЫ МЕЧТАЕТЕ - МЫ ВОПЛОЩАЕМ.</div>
    </div>
</section>
</section>

<section class="bleu-line">
<section class="container">
    <div class="worktype cols">
        <div class="worktype-item">
            <div class="h1-l">20</div>
            <div class="worktype-item--text">
                лет качественной<br>
                работы
            </div>
        </div>
        <div class="worktype-item">
            <div class="h1-l">102</div>
            <div class="worktype-item--text">
                ответственных<br>
                сотрудника
            </div>
        </div>
        <div class="worktype-item">
            <div class="h1-l">286</div>
            <div class="worktype-item--text">
                построенных<br>
                домов
            </div>
        </div>
        <div class="worktype-item">
            <div class="h1-l">564</div>
            <div class="worktype-item--text">
                типовых<br>
                проектов
            </div>
        </div>
    </div>
    <div class="about">
        <div class="about-text">
            <p>Технология горизонтально направленого бурения позволяет оперативно и безопасно проложить инженерные коммуникации, не меняя окружающий ландшафт. Риск возникновения аварийных ситуаций при горизонтально направленном бурении сводится к нулю, а готовый трубопровод не нуждается в контроле, ремонте и не требует иных эксплуатационных расходов.
            </p> 
            <button class="btn">О компании</button>
        </div>
        
    </div>
</section>
</section>
<section class="slogan-line-2">
<section class="container">
    <div class="slogan-2">
        <div class="h1"> МЫ СТРОИМ ВАШЕ БУДУЩЕЕ</div>
        <div class="slogan-caption">Из любых материалов. Так, как хотелось бы именно вам.</div>     
    </div>
</section>
</section>
<section class="doma">
<div class="container">
    <div class="doma-examples">
        <a href="#" class="doma-item">
            <img src="../img/dom1.jpg" alt="Кирпичные дома">
            <p>Кирпичные дома</p>
        </a>
        <a href="#" class="doma-item">
            <img src="../img/dom2.jpg" alt="Монолитные дома">
            <p>Монолитные дома</p>
        </a>
        <a href="#" class="doma-item">
            <img src="../img/dom3.jpg" alt="Кирпичные дома">
            <p>Дома из керамоблоков</p>
        </a>
        <a href="#" class="doma-item">
            <img src="../img/dom4.jpg" alt="Кирпичные дома">
            <p>Дома из силикатных блоков</p>
        </a>
        <a href="#" class="doma-item">
            <img src="../img/dom5.jpg" alt="Кирпичные дома">
            <p>Дома из профилированного бруса</p>
        </a>
        <a href="#" class="doma-item">
            <img src="../img/dom6.jpg" alt="Кирпичные дома">
            <p>Дома из оцилиндрованного бревна</p>
        </a>
        <a href="#" class="doma-item">
            <img src="../img/dom7.jpg" alt="Кирпичные дома">
            <p>Дома из клееного бруса</p>
        </a>
        <a href="#" class="doma-item">
            <img src="../img/dom8.jpg" alt="Кирпичные дома">
            <p>Рубленные дома</p>
        </a>
    </div>
</div>
<section class="about-blue-line">
        <div class="container">
            <div class="doma-about">
                <p>Технология горизонтально направленого бурения позволяет оперативно и безопасно проложить инженерные коммуникации, не меняя окружающий ландшафт. Риск возникновения аварийных ситуаций при горизонтально направленном бурении сводится к нулю, а готовый трубопровод не нуждается в контроле, ремонте и не требует иных эксплуатационных расходов.
                </p> 
            </div>
        </div>
</section>
</section>
<section class="blog-news">
    <div class="container">
        <div class="blog-wrap">
            <div class="blog-item">
                <div class="blog-header">
                    <p>Зима пришла</p>
                </div>
                <div class="blog-subheader">
                    <p>А мы всеравно строим</p>
                </div>
                <div class="blog-date">
                    <p>22 сент. 2019</p>
                </div>
                <div class="blog-text">
                    <p>
                    Технология горизонтально направленого бурения 
                    позволяет оперативно и безопасно проложить 
                    инженерные коммуникации, не меняя окружающий
                    </p>
                </div>
                <div class="blog-nav">
                    <span>Подробнее</span>
                </div>
            </div>
            <div class="blog-item">
                <div class="blog-header">
                    <p>Новые высоты с новым краном</p>
                </div>
                <div class="blog-subheader">
                    {# <p>А мы всеравно строим</p> #}
                </div>
                <div class="blog-date">
                    <p>22 сент. 2019</p>
                </div>
                <div class="blog-text">
                    <p>
                    Технология горизонтально направленого бурения 
                    позволяет оперативно и безопасно проложить 
                    инженерные коммуникации, не меняя окружающий
                    </p>
                </div>
                <div class="blog-nav">
                    <span>Подробнее</span>
                </div>
            </div>
        </div>
        <div class="blog-inform">
            <div class="wrap-inform">
                <div class="inform-up">
                <span>Строим не только дома</span>
                <p>ознакомиться с полным <br/> перечнем услуг</p>
                </div>
                <div class="inform-middle">
                <p class="h2">новости <br/>компании</p>
                </div>
                <div class="inform-down">
                <span>Вам интересно?</span>
                <p>читайте другие <br/> статьи в новостях</p>
                </div>
            </div>
            <div class="projects-title">
                <p>Подборки самых популярных проектов</p>
            </div>
        </div>
    </div>
</section>
<section class="projects">
    <div class="container">
    {# <h2>Проекты</h2> #}
    <div class="wrapper-all">
        {# <div class="wrap-header">
            <h1>НОВЫЕ И ПОПУЛЯРНЫЕ</h1>
        </div> #}
        <div class="wrap-projects">
            <div class="project-item">
                <div class="project-item-img">
                    <img src="../img/dom4.jpg" alt="">
                </div>
                <div class="project-item-describe">
                    <div class="project-item-describe-head">
                        <div class="head-header">
                            <p><span class="sand-color">проект</span> голубая мечта</p>
                        </div>
                        <div class="head-subheader">
                            <p>Материал: стекло, бетон</p>
                        </div>
                    </div>
                    <div class="project-item-describe-foot">
                        <div class="project-item-describe-foot-left">
                            <img src="../img/svg3.svg" alt=""><p>2</p><img src="../img/svg2.svg" alt=""><p>2</p><p>количество комнат - 8</p>
                        </div>
                        <div class="project-item-describe-foot-right">
                            <span class="sand-color">350 m<sup>2</sup></span><p>2 этажа</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-item">
                <div class="project-item-img">
                    <img src="../img/dom1.jpg" alt="">
                </div>
                <div class="project-item-describe">
                    <div class="project-item-describe-head">
                        <div class="head-header">
                            <p><span class="sand-color">проект</span> голубая мечта</p>
                        </div>
                        <div class="head-subheader">
                            <p>Материал: стекло, бетон</p>
                        </div>
                    </div>
                    <div class="project-item-describe-foot">
                        <div class="project-item-describe-foot-left">
                            <img src="../img/svg3.svg" alt=""><p>2</p><img src="../img/svg2.svg" alt=""><p>2</p><p>количество комнат - 8</p>
                        </div>
                        <div class="project-item-describe-foot-right">
                            <span class="sand-color">350 m</span><p>2 этажа</p>
                        </div>
                    </div>
                </div>
            </div><div class="project-item">
                <div class="project-item-img">
                    <img src="../img/dom2.jpg" alt="">
                </div>
                <div class="project-item-describe">
                    <div class="project-item-describe-head">
                        <div class="head-header">
                            <p><span class="sand-color">проект</span> голубая мечта</p>
                        </div>
                        <div class="head-subheader">
                            <p>Материал: стекло, бетон</p>
                        </div>
                    </div>
                    <div class="project-item-describe-foot">
                        <div class="project-item-describe-foot-left">
                            <img src="../img/svg3.svg" alt=""><p>2</p><img src="../img/svg2.svg" alt=""><p>2</p><p>количество комнат - 8</p>
                        </div>
                        <div class="project-item-describe-foot-right">
                            <span class="sand-color">350 m</span><p>2 этажа</p>
                        </div>
                    </div>
                </div>
            </div><div class="project-item">
                <div class="project-item-img">
                    <img src="../img/dom3.jpg" alt="">
                </div>
                <div class="project-item-describe">
                    <div class="project-item-describe-head">
                        <div class="head-header">
                            <p><span class="sand-color">проект</span> голубая мечта</p>
                        </div>
                        <div class="head-subheader">
                            <p>Материал: стекло, бетон</p>
                        </div>
                    </div>
                    <div class="project-item-describe-foot">
                        <div class="project-item-describe-foot-left">
                            <img src="../img/svg3.svg" alt=""><p>2</p><img src="../img/svg2.svg" alt=""><p>2</p><p>количество комнат - 8</p>
                        </div>
                        <div class="project-item-describe-foot-right">
                            <span class="sand-color">350 m</span><p>2 этажа</p>
                        </div>
                    </div>
                </div>
            </div><div class="project-item">
                <div class="project-item-img">
                    <img src="../img/dom5.jpg" alt="">
                </div>
                <div class="project-item-describe">
                    <div class="project-item-describe-head">
                        <div class="head-header">
                            <p><span class="sand-color">проект</span> голубая мечта</p>
                        </div>
                        <div class="head-subheader">
                            <p>Материал: стекло, бетон</p>
                        </div>
                    </div>
                    <div class="project-item-describe-foot">
                        <div class="project-item-describe-foot-left">
                            <img src="../img/svg3.svg" alt=""><p>2</p><img src="../img/svg2.svg" alt=""><p>2</p><p>количество комнат - 8</p>
                        </div>
                        <div class="project-item-describe-foot-right">
                            <span class="sand-color">350 m</span><p>2 этажа</p>
                        </div>
                    </div>
                </div>
            </div><div class="project-item">
                <div class="project-item-img">
                    <img src="../img/dom6.jpg" alt="">
                </div>
                <div class="project-item-describe">
                    <div class="project-item-describe-head">
                        <div class="head-header">
                            <p><span class="sand-color">проект</span> голубая мечта</p>
                        </div>
                        <div class="head-subheader">
                            <p>Материал: стекло, бетон</p>
                        </div>
                    </div>
                    <div class="project-item-describe-foot">
                        <div class="project-item-describe-foot-left">
                            <img src="../img/svg3.svg" alt=""><p>2</p><img src="../img/svg2.svg" alt=""><p>2</p><p>количество комнат - 8</p>
                        </div>
                        <div class="project-item-describe-foot-right">
                            <span class="sand-color">350 m</span><p>2 этажа</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap-foot">
            <div class="wrap-foot-left">
                <p>В этом разделе можно заказать типовые проекты в готовом виде, а так же с возможностью внесения идивидуальных изменений</p>
            </div>
            <div class="wrap-foot-right">
                <button class="btn">Смотреть все проекты</button>
            </div>
        </div>
    </div>
        
    </div>
</section>
<section class="slogan-line-3">
<section class="container">
    <div class="slogan-3">
        <div class="slogan-caption"><p>Есть предложение от конкурента?</p> </div> 
        <div class="h1"> <p> МЫ <span class="sand-color"> СДЕЛАЕМ ЛУЧШЕ!</span></p><button class="btn">Заказать расчет стоимости</button> </div>    
    </div>
</section>
</section>
<section class="blog-useful">
    <div class="container">
        <div class="blog-useful-left">
            <div class="blog-useful-left-wrap">
                <p>Полезное и интересное о строительстве и не только</p>
                <div class="frame">
                    <div class="frame-arrow">
                        <div class="frame-arrow-item"></div>
                    </div>
                    <div class="frame-text">
                        <h3>читать в блоге</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-useful-right">
            <div class="blog-item">
                <div class="project-item-img">
                    <img src="../img/dom1.jpg" alt="">
                </div>
                <div class="blog-header">
                    <p>очень странный дом</p>
                </div>
                <div class="blog-subheader">
                    <p>А мы всеравно строим</p>
                </div>
                <div class="blog-text">
                    <p>
                    Технология горизонтально направленого бурения 
                    позволяет оперативно и безопасно проложить 
                    инженерные коммуникации, не меняя окружающий
                    </p>
                </div>
                <div class="blog-nav">
                    <span>Подробнее</span>
                </div>
            </div>
            <div class="blog-item">
                <div class="project-item-img">
                    <img src="../img/dom2.jpg" alt="">
                </div>
                <div class="blog-header">
                    <p>дом за неделю</p>
                </div>
                <div class="blog-subheader">
                    <p>А мы всеравно строим</p>
                </div>
                <div class="blog-text">
                    <p>
                    Технология горизонтально направленого бурения 
                    позволяет оперативно и безопасно проложить 
                    инженерные коммуникации, не меняя окружающий
                    </p>
                </div>
                <div class="blog-nav">
                    <span>Подробнее</span>
                </div>
            </div>
            <div class="blog-item">
                <div class="project-item-img">
                    <img src="../img/dom3.jpg" alt="">
                </div>
                <div class="blog-header">
                    <p>бронированный забор</p>
                </div>
                <div class="blog-subheader">
                    <p>А мы всеравно строим</p>
                </div>
                <div class="blog-text">
                    <p>
                    Технология горизонтально направленого бурения 
                    позволяет оперативно и безопасно проложить 
                    инженерные коммуникации, не меняя окружающий
                    </p>
                </div>
                <div class="blog-nav">
                    <span>Подробнее</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery">
    <div class="container"><span>галерея</span></div>
    <div class="gallery-wrapper">
        <div class="gallery-wrapper-left">
            <div style="flex:2; flex-direction:column;">
                <div style="flex:1; display: flex;">
                    <div> 
                        <div class="gallery-item-img">
                            <img src="../img/dom2.jpg" alt="">
                        </div>
                    </div>
                    <div style="background-color: white; border: 1.5px solid gray;">
                        <div class="build-home">
                            <h3> Строящиейся<br/>и построенные дома</h3>
                            <span>Подробнее ></span>
                        </div>
                    </div>
                </div>
                <div style="flex:1">
                    <div class="gallery-item-img">
                        <img src="../img/dom5.jpg" alt="">
                    </div>
                </div>
                <div style="flex:1">
                    <div>
                        <div class="gallery-item-img">
                            <img src="../img/dom1.jpg" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="gallery-item-img">
                            <img src="../img/dom3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div style="flex:1; flex-direction:column;">
                <div style="flex:1">
                    <div class="gallery-item-img">
                        <img src="../img/dom2.jpg" alt="">
                    </div>
                </div>
                <div style="flex:2;">
                    <div class="project-item">
                        <div class="project-item-img">
                            <img src="../img/dom4.jpg" alt="">
                        </div>
                        <div class="project-item-describe">
                            <div class="project-item-describe-head">
                                <div class="head-header">
                                    <p><span class="sand-color">проект</span> голубая мечта</p>
                                </div>
                                <div class="head-subheader">
                                    <p>Материал: стекло, бетон</p>
                                </div>
                            </div>
                            <div class="project-item-describe-foot">
                                <div class="project-item-describe-foot-left">
                                    <img src="../img/svg3.svg" alt=""><p>2</p><img src="../img/svg2.svg" alt=""><p>2</p><p>количество комнат - 8</p>
                                </div>
                                <div class="project-item-describe-foot-right">
                                    <span class="sand-color">350 m<sup>2</sup></span><p>2 этажа</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item-cont">
                            <span>Подробнее ></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-wrapper-right">
            <div style="flex:2">
                <div class="gallery-item-img">
                    <img src="../img/dom7.jpg" alt="">
                </div>
            </div>
            <div style="flex:1">
                <div style="flex:1">
                    <div class="gallery-item-img">
                        <img src="../img/dom6.jpg" alt="">
                    </div>
                </div>
                <div class="frame-quad" style="flex:1;">
                    <div class="frame">
                        <div class="frame-arrow">
                            <div class="frame-arrow-item"></div>
                        </div>
                        <div class="frame-text">
                            <h3>смотреть портфолио</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-subtext">
        <div class="gallery-subtext-text">
            <p>Технология горизонтально направленого бурения позволяет оперативно и безопасно проложить инженерные коммуникации, не меняя окружающий ландшафт. Риск возникновения аварийных ситуаций при горизонтально направленном бурении сводится к нулю, а готовый трубопровод не нуждается в контроле, ремонте и не требует иных эксплуатационных расходов.
            </p> 
        </div>
    </div>
</section>
<section class="partners">
    <div class="partners-wrapper">
        <div class="partners-wrapper-left">
            <div class="partners-wrapper-left-img">
                <img src="../img/logo1.png" alt="">
            </div>
            <div class="partners-wrapper-left-img">
                <img src="../img/logo2.png" alt="">
            </div>
            <div class="partners-wrapper-left-img">
                <img src="../img/logo3.png" alt="">
            </div>
            <div class="partners-wrapper-left-img">
                <img src="../img/logo4.png" alt="">
            </div>
            <div class="partners-wrapper-left-img">
                <img src="../img/logo1.png" alt="">
            </div>
            <div class="partners-wrapper-left-img">
                <img src="../img/logo2.png" alt="">
            </div>
            <div class="partners-wrapper-left-img">
                <img src="../img/logo5.png" alt="">
            </div>
        </div>
        <div class="partners-wrapper-right">
            <div class="partners-wrapper-right-text">
                <h2>наши партнеры</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}