{% extends "./includes/layout.twig" %}

{% block content %}
<section class="slogan-line">
<section class="container">
    <div class="slogan">
        <div class="slogan-caption">Закажите обратный звонок бесплатно, оставив новмер телефона</div>
        <div class="h1"> ВЫ МЕЧТАЕТЕ - МЫ ВОПЛОЩАЕМ.</div>
    </div>
</section>
</section>

<section class="bleu-line">
<section class="container">
    <div class="worktype cols">
        <div class="worktype-item">
            <div class="h1-l">20</div>
            <div class="worktype-item--text">
                лет качественной<br>
                работы
            </div>
        </div>
        <div class="worktype-item">
            <div class="h1-l">102</div>
            <div class="worktype-item--text">
                ответственных<br>
                сотрудника
            </div>
        </div>
        <div class="worktype-item">
            <div class="h1-l">286</div>
            <div class="worktype-item--text">
                построенных<br>
                домов
            </div>
        </div>
        <div class="worktype-item">
            <div class="h1-l">564</div>
            <div class="worktype-item--text">
                типовых<br>
                проектов
            </div>
        </div>
    </div>
    <div class="about">
        <div class="about-text">
            <p>Технология горизонтально направленого бурения позволяет оперативно и безопасно проложить инженерные коммуникации, не меняя окружающий ландшафт. Риск возникновения аварийных ситуаций при горизонтально направленном бурении сводится к нулю, а готовый трубопровод не нуждается в контроле, ремонте и не требует иных эксплуатационных расходов.
            </p> 
            <button class="btn">О компании</button>
        </div>
        
    </div>
</section>
</section>
<section class="slogan-line-2">
<section class="container">
    <div class="slogan-2">
        <div class="h1"> МЫ СТРОИМ ВАШЕ БУДУЩЕЕ</div>
        <div class="slogan-caption">Из любых материалов. Так, как хотелось бы именно вам.</div>     
    </div>
</section>
</section>
<section class="doma">
<div class="container">
    <div class="doma-examples">
        <div class="doma-item">
            <img src="../img/dom1.jpg" alt="Кирпичные дома">
            <p>Кирпичные дома</p>
        </div>
        <div class="doma-item">
            <img src="../img/dom2.jpg" alt="Монолитные дома">
            <p>Монолитные дома</p>
        </div>
        <div class="doma-item">
            <img src="../img/dom3.jpg" alt="Кирпичные дома">
            <p>Дома из керамоблоков</p>
        </div>
        <div class="doma-item">
            <img src="../img/dom4.jpg" alt="Кирпичные дома">
            <p>Дома из силикатных блоков</p>
        </div>
        <div class="doma-item">
            <img src="../img/dom5.jpg" alt="Кирпичные дома">
            <p>Дома из профилированного бруса</p>
        </div>
        <div class="doma-item">
            <img src="../img/dom6.jpg" alt="Кирпичные дома">
            <p>Дома из оцилиндрованного бревна</p>
        </div>
        <div class="doma-item">
            <img src="../img/dom7.jpg" alt="Кирпичные дома">
            <p>Дома из клееного бруса</p>
        </div>
        <div class="doma-item">
            <img src="../img/dom8.jpg" alt="Кирпичные дома">
            <p>Рубленные дома</p>
        </div>
    </div>
</div>
<section class="about-blue-line">
        <div class="container">
            <div class="doma-about">
                <p>Технология горизонтально направленого бурения позволяет оперативно и безопасно проложить инженерные коммуникации, не меняя окружающий ландшафт. Риск возникновения аварийных ситуаций при горизонтально направленном бурении сводится к нулю, а готовый трубопровод не нуждается в контроле, ремонте и не требует иных эксплуатационных расходов.
                </p> 
            </div>
        </div>
    </section>
</section>
<section class="blog-news">
    <div class="container">
        <div class="blog-wrap">
            <div class="blog-item">
                <div class="blog-header">
                    <p>Зима пришла</p>
                </div>
                <div class="blog-subheader">
                    <p>А мы всеравно строим</p>
                </div>
                <div class="blog-date">
                    <p>22 сент. 2019</p>
                </div>
                <div class="blog-text">
                    <p>
                    Технология горизонтально направленого бурения 
                    позволяет оперативно и безопасно проложить 
                    инженерные коммуникации, не меняя окружающий
                    </p>
                </div>
                <div class="blog-nav">
                    <span>Подробнее</span>
                </div>
            </div>
            <div class="blog-item">
                <div class="blog-header">
                    <p>Новые высоты с новым краном</p>
                </div>
                <div class="blog-subheader">
                    {# <p>А мы всеравно строим</p> #}
                </div>
                <div class="blog-date">
                    <p>22 сент. 2019</p>
                </div>
                <div class="blog-text">
                    <p>
                    Технология горизонтально направленого бурения 
                    позволяет оперативно и безопасно проложить 
                    инженерные коммуникации, не меняя окружающий
                    </p>
                </div>
                <div class="blog-nav">
                    <span>Подробнее</span>
                </div>
            </div>
        </div>
        <div class="blog-inform">
            <div class="wrap-inform">
                <div class="inform-up">
                <span>Строим не только дома</span>
                <p>ознакомиться с полным <br/> перечнем услуг</p>
                </div>
                <div class="inform-middle">
                <p class="h2">новости <br/>компании</p>
                </div>
                <div class="inform-down">
                <span>Вам интересно?</span>
                <p>читайте другие <br/> статьи в новостях</p>
                </div>
            </div>
            
        </div>
    </div>
</section>
<section class="why">
    <div class="container">
        <div class="why-text">
            <h2 class="h2">С НАМИ <span class="sand-color">УДОБНО РАБОТАТЬ</span></h2>
            <p>Работаем на рынке ГНБ более 10 лет. Явлемся членами СРО с 2010 года, выдаем всю необходимую исполнитеьную документацию, необходимую для сдачи объекта.<br>
                В нашем распоряжении современный парк оборудования и техники ГНБ, штат специалистов, обладающих большим опытом прокладки коммуникаций безтраншейным способом как под природными преградами,
                так и в черте города.
            </p>
        </div>
        <a class="why-video" href="">
            <div class="icon icon-play-circled"></div>
            <span>Смотреть видео</span>
        </a>
        <div class="cols">
            <div class="why-item">
                <div class="why-item--top">
                    <div class="icon icon-i6"></div>
                </div>
                <div class="why-item--title">
                    РАБОТАЕМ<br>
                    В ЛЮБОМ<br>
                    РЕГИОНЕ РОСИИ
                </div>
            </div>
            <div class="why-item">
                <div class="why-item--top">
                    <div class="icon icon-i7"></div>
                </div>
                <div class="why-item--title">
                    весь комплекс<br>
                    услуг от одного<br>
                    подрядчика
                </div>
            </div>
            <div class="why-item">
                <div class="why-item--top">
                    <div class="icon icon-i8"></div>
                </div>
                <div class="why-item--title">
                    СОБСТВЕННАЯ<br>
                    ТЕХНИКА<br>
                    И ПЕРСОНАЛ
                </div>
            </div>
            <div class="why-item">
                <div class="why-item--top">
                    <div class="icon icon-i9"></div>
                </div>
                <div class="why-item--title">
                    ГАРАНТИЯ<br>РАБОТЫ<br>
                    ДО 10 ЛЕТ
                </div>
            </div>
            <div class="why-item">
                <div class="why-item--top">
                    <div class="icon icon-i10"></div>
                </div>
                <div class="why-item--title">
                    стоимость<br>
                    услуг ниже<br>
                    рыночной
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tech">
    <div class="container">
        <h2 class="h2 withline" id="anchor-tech">Наша техника</h2>
        <div class="lined cols cols--acenter">
            <div class="line"></div>
            <h2 class="h2 sand-color">Собственный парк</h2>
        </div>
        <div class="cols tech-container cols--center">
            <div class="tech-item">
                <div class="tech-item--img">
                    <img src="/img/p2.png" alt="ГНБ XCMG XZ 200">
                </div>
                <div class="tech-item--title">УСТАНОВКА <span class="sand-color">ГНБ XCMG XZ 200</span></div>
                <div class="tech-item--params">
                    <div class="cols">
                        <span>Диаметр буровых штанг (мм)</span>
                        <span>60</span>
                    </div>
                    <div class="cols">
                        <span>Максимальное расширение (мм)</span>
                        <span>600</span>
                    </div>
                    <div class="cols">
                        <span>Тяговое усилие (кН)</span>
                        <span>200</span>
                    </div>
                    <div class="cols">
                        <span>Масса (тн.)</span>
                        <span>8,5</span>
                    </div>
                    <div class="cols">
                        <span>Максимальная длина бурения (м)</span>
                        <span>500</span>
                    </div>
                    <div class="cols">
                        <span>Угол забуривания (°)</span>
                        <span>10 – 22</span>
                    </div>
                    <div class="cols">
                        <span style="width: 100%">Ходовая часть с гусеницами - резиновая</span>
                    </div>
                </div>
                <div class="tech-item--video">
                    <a href="">
                        <span>Смотреть видео</span>
                        <div class="icon icon-play-circled"></div>
                    </a>
                </div>
            </div>
            <div class="tech-item">
                <div class="tech-item--img">
                    <img src="/img/p3.png" alt="ГНБ VERMEER D 36/50">
                </div>
                <div class="tech-item--title">УСТАНОВКА <span class="sand-color">ГНБ VERMEER D 36/50</span></div>
                <div class="tech-item--params">
                    <div class="cols">
                        <span>Диаметр буровых штанг (мм)</span>
                        <span>60</span>
                    </div>
                    <div class="cols">
                        <span>Максимальное расширение (мм)</span>
                        <span>600</span>
                    </div>
                    <div class="cols">
                        <span>Тяговое усилие (кН)</span>
                        <span>200</span>
                    </div>
                    <div class="cols">
                        <span>Масса (тн.)</span>
                        <span>8,5</span>
                    </div>
                    <div class="cols">
                        <span>Максимальная длина бурения (м)</span>
                        <span>500</span>
                    </div>
                    <div class="cols">
                        <span>Угол забуривания (°)</span>
                        <span>10 – 22</span>
                    </div>
                    <div class="cols">
                        <span style="width: 100%">Ходовая часть с гусеницами - резиновая</span>
                    </div>
                </div>
                <div class="tech-item--video">
                    <a href="">
                        <span>Смотреть видео</span>
                        <div class="icon icon-play-circled"></div>
                    </a>
                </div>
            </div>
        </div>
            <div class="cols tech-container cols--center">
            <div class="tech-item">
                <div class="tech-item--img">
                    <img src="/img/p4.png" alt="ГНБ ditch Witch">
                </div>
                <div class="tech-item--title">УСТАНОВКА <span class="sand-color">ГНБ ditch Witch</span></div>
                <div class="tech-item--params">
                    <div class="cols">
                        <span>Диаметр буровых штанг (мм)</span>
                        <span>60</span>
                    </div>
                    <div class="cols">
                        <span>Максимальное расширение (мм)</span>
                        <span>600</span>
                    </div>
                    <div class="cols">
                        <span>Тяговое усилие (кН)</span>
                        <span>200</span>
                    </div>
                    <div class="cols">
                        <span>Масса (тн.)</span>
                        <span>8,5</span>
                    </div>
                    <div class="cols">
                        <span>Максимальная длина бурения (м)</span>
                        <span>500</span>
                    </div>
                    <div class="cols">
                        <span>Угол забуривания (°)</span>
                        <span>10 – 22</span>
                    </div>
                    <div class="cols">
                        <span style="width: 100%">Ходовая часть с гусеницами - резиновая</span>
                    </div>
                </div>
                <div class="tech-item--video">
                    <a href="">
                        <span>Смотреть видео</span>
                        <div class="icon icon-play-circled"></div>
                    </a>
                </div>
            </div>
            <div class="tech-item">
                <div class="tech-item--img">
                    <img src="/img/p5.png" alt="ГНБ GD 360 LS">
                </div>
                <div class="tech-item--title">УСТАНОВКА <span class="sand-color">ГНБ GD 360 LS</span></div>
                <div class="tech-item--params">
                    <div class="cols">
                        <span>Диаметр буровых штанг (мм)</span>
                        <span>60</span>
                    </div>
                    <div class="cols">
                        <span>Максимальное расширение (мм)</span>
                        <span>600</span>
                    </div>
                    <div class="cols">
                        <span>Тяговое усилие (кН)</span>
                        <span>200</span>
                    </div>
                    <div class="cols">
                        <span>Масса (тн.)</span>
                        <span>8,5</span>
                    </div>
                    <div class="cols">
                        <span>Максимальная длина бурения (м)</span>
                        <span>500</span>
                    </div>
                    <div class="cols">
                        <span>Угол забуривания (°)</span>
                        <span>10 – 22</span>
                    </div>
                    <div class="cols">
                        <span style="width: 100%">Ходовая часть с гусеницами - резиновая</span>
                    </div>
                </div>
                <div class="tech-item--video">
                    <a href="">
                        <span>Смотреть видео</span>
                        <div class="icon icon-play-circled"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="after-tech container">
        <p>ГНБ бурение осуществляется с помощью профессионального бура с локатором. Отдельный оператор на специальном экране локатора наблюдает за продвижением бура и реагирует на любые изменения заданной траектории, чтобы передать эту информацию машинисту бурового инструмента. Если на пути бура возникли препятствия, будь то скопления металла, камень или предметы, мешающие прохождению, оператор меняет угол атаки буровой лопатки, и они огибаются. Кроме того, система локации выполняет и целый ряд других необходимых для бурения функций. Так с ее помощью, к примеру, замеряется температура зонда.</p>

        <p>При этом установка для ГНБ бурения отличается маневренностью, легким управлением, компактностью и высокой производительностью. Отдельные установки способны обеспечить бестраншейную прокладку на расстоянии более 300 метров даже в сложных, скальных грунтах в непредсказуемых и экстремальных погодных условиях, а протяженность пути варьируется от всего нескольких метров до нескольких километров с диаметром до одного метра. </p>

    </section>
    <section class="container steps">
        <h2 class="h2">ПОРЯДОК ВЫПОЛНЕНИЯ РАБОТ:</h2>
        <div class="cols cols--stretch steps-container">
            <div class="steps-item cols">
                <div>
                    <div>предварительный<br>этап</div>
                    <span>- Выяснение требований</span>
                    <span>- Выезд на объект</span>
                    <span>- Составление техзадания</span>
                    <span>- Оценка стоимости</span>
                    <span>- Проектирование</span>
                </div>
                <div>1.</div>
            </div>
            <div class="steps-item cols">
                <div>
                    <div>подготовительный<br>этап</div>
                    <span>- Получение разрешения на проведение работ</span>
                    <span>- Оценка условий проведения работ</span>
                    <span>- Уточнение глубины залегания имеющихся коммуникаций</span>
                    <span>- Изучение состава пород</span>
                </div>
                <div>2.</div>
            </div>
            <div class="steps-item cols">
                <div>
                    <div>бурение<br>
                        пилотной скважины
                    </div>
                </div>
                <div>3.</div>
            </div>
            <div class="steps-item cols">
                <div>
                    <div>расширение скважины до<br>
                        необходимого диаметра
                    </div>
                </div>
                <div>4.</div>
            </div>
            <div class="steps-item cols">
                <div>
                    <div>протягивание<br>
                        трубы
                    </div>
                </div>
                <div>5.</div>
            </div>
            <div class="steps-item cols">
                <div>
                    <div>завершение<br>
                        работ
                    </div>
                </div>
                <div>6.</div>
            </div>
        </div>
    </section>
    <section class="price yellow-line2">
        <div class="container">
            <h2 class="h2" id="anchor-price"><span class="sand-color">Cтоимость бурения.</span> От чего она зависит?</h2>
            <div class="cols">
                <div class="price-info">
                    <div class="price-container cols">
                        <div class="price-item">
                            <span>?</span>
                            <span>диаметр<br>скважины</span>
                        </div>
                        <div class="price-item">
                            <span>?</span>
                            <span>длина<br>скважины</span>
                        </div>
                        <div class="price-item">
                            <span>?</span>
                            <span>глубина<br>скважины</span>
                        </div>
                        <div class="price-item">
                            <span>?</span>
                            <span>тип<br>грунта</span>
                        </div>
                        <div class="price-item">
                            <span>?</span>
                            <span>наличие<br>подземных<br>препятствий</span>
                        </div>
                        <div class="price-item">
                            <span>?</span>
                            <span>назначение<br>и материал<br>трубопровода</span>
                        </div>
                    </div>
                    <p>
                        Благодаря сокращению сроков сдачи строительного объекта, технология горизонтально направленного бурения  экономит временные ресурсы, и, как следствие, способна снизить итоговый бюджет проекта.<br>
                        Но следует учесть, что на крайне небольших участках (до 2 метров) применение ГНБ может оказаться необоснованно затратным из-за необходимости транспортировки техники и привлечения рабочей бригады.
                    </p>
                </div>
                <div class="price-form">
                    <div class="form form-header form-validate form-ajax">
                        <form class="form-validate">
                            <div class="form--title">ПОЛУЧИТЕ ПРЕДВАРИТЕЛЬНЫЙ РАСЧЕТ</div>
                            <div class="form--caption">Мы свяжемся с Вами в течение 3 минут</div>
                            <div class="form--item">
                                <input type="text" class="textfield" value="" name="1" placeholder="Ваше имя" data-rule-required="true">
                            </div>
                            <div class="form--item">
                                <input type="text" class="textfield" name="43" value="" placeholder="Email" data-rule-email="true" data-rule-required="true">
                            </div>
                            <div class="form--item">
                                <input type="text" class="textfield mask-phone-ru" name="433" value="" placeholder="Номер телефона"  data-rule-required="true">
                            </div>
                            <div class="checkbox-c checkboxes">
                                <label class="checkbox checkbox-plain-js">
                                    <div class="checkbox__icon"></div>
                                    <input type="checkbox" name="agree" checked value="1" data-rule-required="true" aria-required="true" />
                                    Я согласен с <a href="" target="_blank">обработкой персональных даных</a>
                                </label>
                            </div>
                            <div class="form--actions">
                                <button type="submit" class="btn">отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="geo">
        <section class="container">
            <h2 class="h2" id="anchor-geo">География проектов</h2>
            <p class="geo-text">
                Мы работаем на любой територии России, в любых погодных и сезонных условиях.<br>
                За продолжительное время работы сформирован большой опыт бурения на самой различной местности с разнообразными ландшафтными данными.
            </p>
            <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=ae5c0c23-1d6b-4d2d-9d99-83e0cf9a70eb" type="text/javascript"></script>
            <div class="geo-info cols">
                <div class="geo-map">
                    <div id="map"></div>

                </div>
                <div class="geo-list">
                    <div></div>
                </div>
            </div>
            <div id="geo-item-outer">
                <div class="geo-item cols">
                    <div class="geo-item-info">
                        <div class="geo-item-info--name">Свердловская область, г. Алопаевск</div>
                        <p class="geo-item-info--text1">Бурение скважины под прокладку трубопровода.</p>
                        <p class="geo-item-info--text2">Работы по проведению трубопровода несколько осложнялись большим количеством уже имеющихся подземных коммуникаций.</p>
                        <a href="javascript:;" data-fancybox="" data-src="" data-type="ajax">Подробнее о проекте...</a>
                    </div>
                    <div class="geo-item-more">
                        <div class="cols">
                            <div class="geo-item-more--item">
                                <span>Диаметр прокола</span>
                                <span>0.5 М</span>
                            </div>
                            <div class="geo-item-more--item">
                                <span>Длина прокола</span>
                                <span>30 М</span>
                            </div>
                            <div class="geo-item-more--item">
                                <span>Глубина прокола</span>
                                <span>4 М</span>
                            </div>
                            <div class="geo-item-more--item">
                                <span>Угол забуривания</span>
                                <span>20°</span>
                            </div>
                            <div class="geo-item-more--item">
                                <span>Срок выполнения</span>
                                <span>2 недели</span>
                            </div></div>
                        <div class="cols cols--acenter cols--start">
                            <a href="javascript:;" data-fancybox="photo" data-src=""><span class="icon icon-i11"></span>Смотреть фото</a>
                            <a href="javascript:;" data-fancybox="" data-src="" data-type="ajax"><span class="icon icon-play-circled"></span>Смотреть фото</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="bg-separator">

    </section>
    <section class="projection container">
        <h2 class="h2 withline" id="anchor-project">Проектирование скважины</h2>
        <p class="projection-text1">
            Компания «Конкрит» осуществит весь комплекс работ по проектированию закрытых переходов, реализуемых методом горизонтально-направленного бурения, в соответствии заданием заказчика, нормативами и особенностями ландшафта. 
        </p>
        <div class="cols">
            <p>В данный момент требования, предъявляемые к прокладке трубопроводов, меняются. В большинстве случаев разрушение природного рельефа или перестройка существующей городской инфраструктуры не представляются возможными, что влечет за собой запрет на использование классического, открытого метода прокладки инженерных систем.<br>
                Метод ГНБ не требует вмешательства в ландшафт и является оптимальным даже в случае экстремальных природных условий, именно поэтому он становится все популярнее.
            </p>
            <p>
                Зачастую компании отдают проектирование закрытых переходов субподрядчику, который не понимает специфики метода горизонтально-направленного бурения, так как не изучил практическую сторону вопроса. В результате заказчик рискует получить проект, по которому выполнить работы на реальном объекте становится физически невозможно. <br>
                Мы же при проектировании учитываем не только характеристику сооружения, но и особенности рабочего цикла, а также специфику установок ГНБ и вспомогательного оборудования.
            </p>
        </div>
        <div class="projection-text2">
            проектирование осуществляется в соответствии со всеми необходимыми государственными нормативами и указаниями. <br>
            наши специалисты гарантируют, что проект успешно пройдет все необходимые согласования и не вызовет вопросов на стадии реализации.
        </div>
    </section>
    <section class="gnb container">
        <h2 class="h2">
            <span class="sand-color">ГНБ</span> технология
        </h2>
        <div class="cols">
            <div>
                <p>
                    Горизонтальное бурение имеет широкое применение в строительстве коммуникаций под землей для прокладывания газопроводов и нефтепроводов, оптоволоконных кабелей, кабелей электроснабжения иэлементов связи, водопроводов и систем канализации, а также теплопроводов.
                </p>
                <p>
                    Использование технологии горизонтально направленного бурения, благодаря большому количеству преимуществ, позволяет прокладывать коммуникации не только под сложными элементами ландшафта, будь то реки, озера или лесной массив, но и в городских условиях под архитектурными памятниками или железнодорожными путями. Суть метода горизонтального бурения заключается в создании специальных гнб проколов под различными препятствиями подобного рода.
                </p>
            </div>
          </div>
    </section>
    <section class="gnb2 container">
        <h2 class="h2">
            безопасность. надежность. экологичность. инновации.
        </h2>
        <p>
            Для прокола под дорогой необходимо создать пару приямков, что сильно упрощает прокладывания трубопроводов и кабелей. Ландшафт и само дорожное полотно после таких работ остаются в неизменном виде, а движение по путям сообщения не приостанавливается. Прокол под водоемом остается практически единственным возможным способом прокладывания коммуникаций в отдельных случаях, так как исключает размывание берегов.А благодаря технологии бурения горизонтальных скважин стала возможной добыча нефти на труднодоступных участках со сложным грунтом наиболее эффективным образом. 
        </p>
        <p>
            К основным недостаткам технологии можно отнести лишь то, что для управления буровой установкой требуется квалифицированный, специально обученный персонал. Кроме того, на крайне небольших участках (до 2 метров) применение ГНБ может оказаться необоснованно затратным из-за необходимости транспортировки техники и привлечения рабочей бригады.
        </p>
        <p>
            Данные недостатки легко перевешивает множество преимуществ горизонтально направленного бурения. К ним относится как эффективность в решении самых разнообразных задач, так и значительное сокращение кадровых расходов (стандартная бригада не превышает 5 человек). Кроме того, исключается вред, наносимый при прокладке коммуникаций экологии – не разрушается рельеф, цельными остаются лесные массивы и плодородный слой почвы. Благодаря сокращению сроков сдачи строительного объекта, технология горизонтально направленного бурения также экономит временные ресурсы, и, как следствие, способна снизить итоговый бюджет проекта.
        </p>
    </section>
    <section class="serts container">
        <h2 class="h2"  id="anchor-serts">наши лицензии и сертификаты</h2>
        <div class="cols">
            <div class="serts-item">
                <a href="javascript:;" data-fancybox="sert" data-src="/img/p6.jpg">
                    <img src="/img/p6.jpg" alt="sert" />
                </a>
            </div>
            <div class="serts-item">
                <a href="javascript:;" data-fancybox="sert" data-src="/img/p6.jpg">
                    <img src="/img/p6.jpg" alt="sert" />
                </a>
            </div>
            <div class="serts-item">
                <a href="javascript:;" data-fancybox="sert" data-src="/img/p6.jpg">
                    <img src="/img/p6.jpg" alt="sert" />
                </a>
            </div>
            <div class="serts-item">
                <a href="javascript:;" data-fancybox="sert" data-src="/img/p6.jpg">
                    <img src="/img/p6.jpg" alt="sert" />
                </a>
            </div>
            <div class="serts-item">
                <a href="javascript:;" data-fancybox="sert" data-src="/img/p6.jpg">
                    <img src="/img/p6.jpg" alt="sert" />
                </a>
            </div>
        </div>
    </section>
{% endblock %}