{% extends "./includes/layout-about.twig" %}

{% block content %}
<section class="blog-detail-header">
    <div class="header-about">
        <div class="container">
            <div class="header-about-h1">
                <h1>Новости</h1>
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li><a class="breadcrumbs-link" href="">Главная</a></li>
                    <li><a class="breadcrumbs-link" href="">Блог</a></li>
                    <li><a class="breadcrumbs-link" href="">Бассейн на участке загородного дома</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="blog-detail">
    <div class="container"><div class="gray-field"></div></div>
    <div class="blog-content">
        <div class="container">
            <div class="blog-content-header">
                <div class="blog-content-header-wrap">
                    <div class="blog-content-header-wrap-left">
                        <div class="blog-img">
                            <img src="img/sloy14.jpg" alt="">
                        </div>
                    </div>
                    <div class="blog-content-header-wrap-right">
                        <h2>Новые высоты с новым краном</h2>
                        <p class="subhead">«За» и «против», подводные камни.</p>
                        <span>22 сент, 2019</span>
                        <p>
                            Купание и плавание всегда было полезно для здоровья человека. 
                            В современных темпах жизни у людей не остается свободного времени для расслабления и мечтаний. 
                            Отличным выходом ситуации является наличие бассейна на участке загородного дома. 
                            После суеты городских дел приятно вечером окунуться в кристально чистую воду и провести час другой 
                            в раздумьях или в кругу семьи.
                        </p>
                        <p>
                            Бассейны делятся на нескольких видов: <br/>
                            - стационарные;<br/>
                            - каркасные;<br/>
                            - надувные.
                        </p>
                        <p>
                            Стационарные
                            Чтобы построить бассейн на участке загородного дома требуется отдельный проект и планировка. 
                            Из всех вариантов стационарные модели отличаются высокой ценой, а взамен дают владельцу долгий срок службы, 
                            престиж постройки и многообразие дизайнерского оснащения. <br/>
                        </p>
                    </div>
                </div>
                <div class="btns" style="margin: 0 0 55px 0;">
                    <a href="" class="btn btn--wide btn--black">Все новости</a>
                </div>
            </div>
    
        </div>
        <div class="blog-content-main content-main-news">
            <div class="container">
                <div class="projects-header">
                    <p>Возможно, вам также будут интересны эти статьи</p><div class="projects-header-arrow"></div>
                </div>
            </div>
            <div class="container">
                <div>
                    <div class="blog-content-header">
                        <div class="blog-content-header-wrap">
                            <div class="blog-content-header-wrap-left">
                                <img src="img/sloy10.jpg" alt="">
                            </div>
                            <div class="blog-content-header-wrap-right">
                                <div class="wrap-margin">
                                    <h2>Новые высоты с новым краном</h2>
                                    <p class="date">22 сент, 2019</p>
                                    <p>
                                        Купание и плавание всегда было полезно для здоровья человека. 
                                        В современных темпах жизни у людей не остается свободного времени для расслабления и мечтаний. 
                                        Отличным выходом ситуации является наличие бассейна на участке загородного дома. 
                                    </p>
                                    <div class="span-nav"><a href="" >Подробнее</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content-header">
                        <div class="blog-content-header-wrap">
                            <div class="blog-content-header-wrap-left">
                                <img src="img/sloy11.jpg" alt="">
                            </div>
                            <div class="blog-content-header-wrap-right">
                                <div class="wrap-margin">
                                    <h2>Зима пришла</h2>
                                    <p class="subhead">«За» и «против», подводные камни.</p>
                                    <p class="date">22 сент, 2019</p>
                                    <p>
                                        Купание и плавание всегда было полезно для здоровья человека. 
                                        В современных темпах жизни у людей не остается свободного времени для расслабления и мечтаний. 
                                        Отличным выходом ситуации является наличие бассейна на участке загородного дома. 
                                    </p>
                                    <div class="span-nav"><a href="" >Подробнее</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content-header">
                        <div class="blog-content-header-wrap">
                            <div class="blog-content-header-wrap-left">
                                <img src="img/sloy12.jpg" alt="">
                            </div>
                            <div class="blog-content-header-wrap-right">
                                <div class="wrap-margin">
                                    <h2>Очень странный дом</h2>
                                    <p class="date">22 сент, 2019</p>
                                    <p>
                                        Купание и плавание всегда было полезно для здоровья человека. 
                                        В современных темпах жизни у людей не остается свободного времени для расслабления и мечтаний. 
                                        Отличным выходом ситуации является наличие бассейна на участке загородного дома. 
                                    </p>
                                    <div class="span-nav"><a href="" >Подробнее</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content-header">
                        <div class="blog-content-header-wrap">
                            <div class="blog-content-header-wrap-left">
                                <img src="img/sloy12.jpg" alt="">
                            </div>
                            <div class="blog-content-header-wrap-right">
                                <div class="wrap-margin">
                                    <h2>Дома за неделю</h2>
                                    <p class="date">22 сент, 2019</p>
                                    <p>
                                        Купание и плавание всегда было полезно для здоровья человека. 
                                        В современных темпах жизни у людей не остается свободного времени для расслабления и мечтаний. 
                                        Отличным выходом ситуации является наличие бассейна на участке загородного дома. 
                                    </p>
                                    <div class="span-nav"><a href="" >Подробнее</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <div class="pagination-left">
                      <ul>
                          <li><a href="">1</a></li>
                          <li><a href="">2</a></li>
                          <li><a href="">3</a></li>
                          <li><a href="">4</a></li>
                          <li><a href="">5</a></li>
                          <a href=""><li class="icon-right-open-big"></li></a>
                      </ul>
                    </div>
                    <div class="pagination-right">
                      <p>Всего страниц - 6</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}