{% extends "./includes/layout-about.twig" %}

{% block content %}
<section class="header-about">
    <div class="container">
        <div class="header-about-h1">
            <h1>Портфолио</h1>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li><a class="breadcrumbs-link" href="">Главная</a></li>
                <li><a class="breadcrumbs-link" href="">Блог</a></li>
                <li><a class="breadcrumbs-link" href="">Портфолио</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="gallery-grid">
    <div class="grid-container">
        <div class="first">
            <a href="" class="img-s">
                <img src="/img/dom1.jpg" alt="">
            </a>
            <a href=""class="gallery-blog">
                <div class="build-home">
                    <h3> Строящиейся<br/>и построенные дома</h3>
                    <span class="span-ease">Подробнее</span>
                </div>
            </a>
        </div>
        <div class="second">
            <a href="" class="img-s">
                <img src="/img/dom2.jpg" alt="">
            </a>
        </div>
        <div class="third">
            <a href="" class="img-s">
                <img src="/img/dom3.jpg" alt="">
            </a>
            <a href="" class="img-s">
                <img src="/img/dom5.jpg" alt="">
            </a>
        </div>
        <div class="five">
            <a href="" class="img-s">
                <img src="/img/dom4.jpg" alt="">
            </a>
        </div>
        <div class="six">
            <a href="" class="img-s">
                <img src="/img/dom6.jpg" alt="">
            </a>
            <div class="gallery-frame">
                <a href="" class="frame-quad" >
                    <div class="frame">
                        <div class="frame-arrow">
                            <div class="frame-arrow-item"></div>
                        </div>
                        <div class="frame-text">
                            <h3>смотреть портфолио</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="four">
            <a href="" class="img-s">
                <img src="/img/dom8.jpg" alt="">
            </a>
        </div>
        <div class="gallery-card">
            <a href="" class="project-item">
                <div class="project-item-img">
                    <img src="../img/dom4.jpg" alt="">
                </div>
                <div class="project-item-describe">
                    <div class="project-item-describe-head">
                        <div class="head-header">
                            <p><span class="sand-color">проект</span> голубая мечта</p>
                        </div>
                        <div class="head-subheader">
                            <p>Материал: стекло, бетон</p>
                        </div>
                    </div>
                    <div class="project-item-describe-foot">
                        <div class="project-item-describe-foot-left">
                            <span class="icon-svg3"></span><p>2</p><span class="icon-svg2"></span><p>2</p><p>количество комнат - 8</p>
                        </div>
                        <div class="project-item-describe-foot-right">
                            <span class="sand-color">350 m<sup>2</sup></span><p>2 этажа</p>
                        </div>
                    </div>
                </div>
                <div class="project-item-cont">
                    <span class="span-ease">Подробнее</span>
                </div>
                
            </a>
        </div>
      </div>
      <div class="grid-container-2">
        <div class="seven">
            <div class="img-s">
                <img src="/img/dom1.jpg" alt="">
            </div>
        </div>
        <div class="eight">
            <div class="img-s">
                <img src="/img/dom2.jpg" alt="">
            </div>
        </div>
        <div class="nine">
            <div class="gallery-blog-2">
                <div class="img-s">
                    <img src="/img/dom3.jpg" alt="">
                </div>  
            </div>
            <div class="img-s">
                <img src="/img/dom3.jpg" alt="">
            </div>
        </div>
        <div class="ten">
            <div class="img-s">
                <img src="/img/dom4.jpg" alt="">
            </div>
        </div>
      </div>
</section>
{% endblock %}