{% extends "./includes/layout-about.twig" %}

{% block content %}
<section class="header-about">
    <div class="container">
        <div class="header-about-h1">
            <h1>Портфолио</h1>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li><a class="breadcrumbs-link" href="">Главная</a></li>
                <li><a class="breadcrumbs-link" href="">Блог</a></li>
                <li><a class="breadcrumbs-link" href="">Портфолио</a></li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}