{% extends "./includes/layout-about.twig" %}

{% block content %}
<section class="header-about">
    <div class="container">
        <div class="header-about-h1">
            <h1>Портфолио</h1>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li><a class="breadcrumbs-link" href="">Главная</a></li>
                <li><a class="breadcrumbs-link" href="">Портфолио</a></li>
                <li><a class="breadcrumbs-link" href="">Строительство фундамента для загородного дома</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="portfolio-detail">
    <div class="container">
        <h2>Строительство фундамента для загородного дома</h2>
        <div class="portfolio-detail-header">
            <div class="portfolio-detail-header-left"><img src="/img/sloy13.jpg" alt=""></div>
            <div class="portfolio-detail-header-right">
                <div class="right-wrap">
                    <div class="size">
                        <h3>Размер строения - 10 <sup>M</sup>/ 5.5 <sup>M</sup></h3>
                        <p>количество комнат - 8</p>
                    </div>
                    <div class="type">
                        <h3>Тип фундамента - ленточный</h3>
                        <p>
                            Ленточный фундамент глубокого заложения монтируется на глубине более метра, 
                            чтобы оказаться ниже уровня промерзания почвы. 
                            В зависимости от региона и среднегодовой температуры это значение может меняться. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-right">
        <h3>Разновидности фундаментов для малоэтажного строительства</h3>
        <div class="sub-describe">
            <div class="sub-describe-left">
                <p>
                    Стильный уютный дом с мансардным этажом, балконом и открытой верандой для круглогодичного комфортного проживания всей семьей. 
                    На первом этаже просторная гостиная, с кухней-столовой, две спальни, гардеробная, санузел и входная группа. 
                    На втором этаже холл, из которого проходим в три спальни и дополнительный санузел. 
                    Котельная предусмотрена в цокольном этаже.
                </p>
                <p>
                    Стильный уютный дом с мансардным этажом, балконом и открытой верандой для круглогодичного комфортного проживания всей семьей. 
                    На первом этаже просторная гостиная, с кухней-столовой, две спальни, гардеробная, санузел и входная группа. 
                    На втором этаже холл, из которого проходим в три спальни и дополнительный санузел. 
                    Котельная предусмотрена в цокольном этаже.
                </p>
            </div>
            <div class="sub-describe-right">
                <p>
                    Стильный уютный дом с мансардным этажом, балконом и открытой верандой для круглогодичного комфортного проживания всей семьей. 
                    На первом этаже просторная гостиная, с кухней-столовой, две спальни, гардеробная, санузел и входная группа. 
                    На втором этаже холл, из которого проходим в три спальни и дополнительный санузел. 
                    Котельная предусмотрена в цокольном этаже. <br/>
                    Стильный уютный дом с мансардным этажом, балконом и открытой верандой для круглогодичного комфортного проживания всей семьей. 
                    На первом этаже просторная гостиная, с кухней-столовой, две спальни, гардеробная, санузел и входная группа. 
                    На втором этаже холл, из которого проходим в три спальни и дополнительный санузел. 
                    Котельная предусмотрена в цокольном этаже.
                </p>
            </div>
        </div>
        <div class="gallery-grid">
            <div class="grid-container-2">
                <div class="seven">
                    <a href="" class="img-s">
                        <img src="/img/dom1.jpg" alt="">
                    </a>
                </div>
                <div class="eight">
                    <a href="" class="img-s">
                        <img src="/img/dom7.jpg" alt="">
                    </a>
                </div>
                <div class="nine">
                    <div class="gallery-blog-2">
                        <img src="/img/dom3.jpg" alt="">
                    </div>
                    <a href="" class="img-s">
                        <img src="/img/dom5.jpg" alt="">
                    </a>
                </div>
                <div class="ten">
                    <a href="" class="gallery-card">
                        <img src="../img/dom8.jpg" alt="">
                    </a>
                </div>
              </div>
        </div>
        <div class="sub-describe-2">
            <h3>Столбчатый фундамент для легких хозпостроек</h3>
            <p>
                Стильный уютный дом с мансардным этажом, балконом и открытой верандой для круглогодичного комфортного проживания всей семьей. 
                На первом этаже просторная гостиная, с кухней-столовой, две спальни, гардеробная, санузел и входная группа. 
                На втором этаже холл, из которого проходим в три спальни и дополнительный санузел. Котельная предусмотрена в цокольном этаже.
            </p>
            <p>
                Стильный уютный дом с мансардным этажом, балконом и открытой верандой для круглогодичного комфортного проживания всей семьей. 
                На первом этаже просторная гостиная, с кухней-столовой, две спальни, гардеробная, санузел и входная группа. 
                На втором этаже холл, из которого проходим в три спальни и дополнительный санузел. Котельная предусмотрена в цокольном этаже.
            </p>
        </div>
    </div>

</section>

{% endblock %}