{% extends "./includes/layout-about.twig" %}

{% block content %}
<section class="header-about">
    <div class="container">
        <div class="header-about-h1">
            <h1>Проекты домов</h1>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li><a class="breadcrumbs-link" href="">Главная</a></li>
                <li><a class="breadcrumbs-link" href="">Портфолио</a></li>
                <li><a class="breadcrumbs-link" href="">Кирпичные дома</a></li>
                <li><a class="breadcrumbs-link" href="">Высокая горка</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="portfolio-detail project-home">
    <div class="container">
        <h2> <span style="color:#82bac3;">Проект</span> высокая горка</h2>
        <p>Проект может быть выполнен в 4  материалах: кирпич, бетон, керамоблоки, газосиликатные блоки.</p>
        <div class="portfolio-detail-header">
            <div class="portfolio-detail-header-left">
                <div class="portfolio-detail-header-left-img">
                  <img src="img/sloy13.jpg" alt="">  
                </div>
                <div class="describe-home">
                    <div class="describe-home-up">
                        <div class="describe-home-up-left">
                            <h2 class="sand-color">От 3 000 000<sup>*</sup></h2><div class="rub"></div>
                            <p>Примерная стоимость строительства дома в указанной комплектации</p>
                        </div>
                        <div class="describe-home-up-right">
                            <h2><span class="sand-color">350 m<sup>2</sup></span><p>2 этажа</p></h2>
                        </div>
                    </div>
                    <div class="describe-home-down">
                        <div class="describe-home-down-left">
                            <h2>размер строения - 10 <sup>M</sup> / 5,5 <sup>M</sup></h2>
                            <p>количество комнат - 8</p>
                        </div>
                        <div class="describe-home-down-right">
                            <p><span class="icon-svg3"></span>2</p><p><span class="icon-svg2"></span>2</p>
                        </div>
                    </div>
                    <div class="describe-btn">
                        <a href="" class="btn">Заказать расчет</a>
                    </div>
                </div>

            </div>
            <div class="portfolio-detail-header-right">
                <div class="right-wrap">
                    <div class="right-wrap-item">
                        <p>3D Визуализация:</p>
                        <div style="display: flex;" class="swiper-slider swiper-slider--review "
                            data-slider-slides-per-view="4"
                            data-slider-centered-slides="false"
                            data-slider-slides-per-group="1"
                            data-slider-effect="slide"
                            data-slider-loop="false"
                            data-slider-autoplay="false"
                            data-slider-speed="600"
                            data-slider-grabcursor="false"
                            data-slider-space-between="10"
                            
                            >
                                <div class="swiper-container ">
                                    <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="partners-wrapper-left-img ">
                                                    <img src="img/dom1.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="partners-wrapper-left-img ">
                                                    <img src="img/dom2.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="partners-wrapper-left-img ">
                                                    <img src="img/dom3.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="partners-wrapper-left-img ">
                                                    <img src="img/dom4.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="partners-wrapper-left-img ">
                                                    <img src="img/dom4.jpg" alt="">
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="right-wrap-item">
                        <p>Фасады:</p>
                        <div style="display: flex;" class="swiper-slider swiper-slider--review"
                            data-slider-slides-per-view="4"
                            data-slider-centered-slides="false"
                            data-slider-slides-per-group="1"
                            data-slider-effect="slide"
                            data-slider-loop="false"
                            data-slider-autoplay="false"
                            data-slider-speed="600"
                            data-slider-grabcursor="false"
                            data-slider-space-between="10">
                                <div class="swiper-container container ">
                                    <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="partners-wrapper-left-img ">
                                                    <img src="img/prdom1.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="partners-wrapper-left-img ">
                                                    <img src="img/prdom2.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="partners-wrapper-left-img ">
                                                    <img src="img/prdom3.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="partners-wrapper-left-img ">
                                                    <img src="img/prdom4.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="partners-wrapper-left-img ">
                                                    <img src="img/prdom4.jpg" alt="">
                                                </div>
                                            </div>
                                    </div> 
                                </div>
                                <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="right-wrap-item">
                        <p>Планы помещения:</p>
                        <div style="display: flex;" class="swiper-slider swiper-slider--review"
                            data-slider-slides-per-view="4"
                            data-slider-centered-slides="false"
                            data-slider-slides-per-group="1"
                            data-slider-effect="slide"
                            data-slider-loop="false"
                            data-slider-autoplay="false"
                            data-slider-speed="600"
                            data-slider-grabcursor="false"
                            data-slider-space-between="10">
                                <div class="swiper-container container ">
                                    <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="partners-wrapper-left-img ">
                                                    <img src="img/schema1.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="partners-wrapper-left-img ">
                                                    <img src="img/schema2.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="partners-wrapper-left-img ">
                                                    <img src="img/schema3.jpg" alt="">
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
                <div class="right-wrap">
                    <p>Стильный уютный дом с мансардным этажом, балконом и открытой верандой для круглогодичного комфортного проживания всей семьей.
                        На первом этаже просторная гостиная, с кухней-столовой, две спальни, гардеробная, санузел и входная группа. 
                        На втором этаже холл, из которого проходим в три спальни и дополнительный санузел. 
                        Котельная предусмотрена в цокольном этаже.
                    </p>
                    <p>
                        Стильный уютный дом с мансардным этажом, балконом и открытой верандой для круглогодичного комфортного проживания всей семьей. 
                        На первом этаже просторная гостиная, с кухней-столовой, две спальни, гардеробная, санузел и входная группа. 
                        На втором этаже холл, из которого проходим в три спальни и 
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="projects-tabs">
    <div class="container">
        <div class="describe-container">
            <h2 class="sand-color">дом под отделку</h2>
            <h2>комплектация в указанной стоимости</h2>
            <p>Стильный уютный дом с мансардным этажом, балконом и открытой верандой для круглогодичного комфортного проживания всей семьей. 
                На первом этаже просторная гостиная, с кухней-столовой, две спальни, гардеробная, санузел и входная группа. 
                На втором этаже холл, из которого проходим в три спальни и дополнительный санузел. 
                Котельная предусмотрена в цокольном этаже.
            </p>
        </div>
        <div class="tabs-container">
            <ul class="tabs-list">
                <li class="tab active">
                    <h3>фундамент</h3>
                    <div class="trin"></div>
                </li>
                <li class="tab">
                    <h3>стеновой комплект</h3>
                    <div class="trin"></div>
                </li>
                <li class="tab">
                    <h3>кровля</h3>
                    <div class="trin"></div>
                </li>
                <li class="tab">
                    <h3>окна</h3>
                    <div class="trin"></div>
                </li>
                <li class="tab">
                    <h3>отделка</h3>
                    <div class="trin"></div>
                </li>
                <li class="tab">
                    <h3>доставка</h3>
                    <div class="trin"></div>
                </li>
            </ul>
        </div>

    </div>
</section>
<section class="projects-tabs-content">
    <ul>
        <li class="tab-a active">
        <h3>фундамент</h3>
    </li>
    <div class="container tab-cont active">
        <ul>
            <li>Укладка рулонной гидроизоляции «Стеклоизол» на ростверк.</li>
            <li>Подкладочная доска из  лиственницы.</li>
            <li>Брус клееный профилированный сечением 185(h)х202мм/162мм, клеевая система Akzo Nobel (Швеция).</li>
            <li>Антисептирование на производстве составом REMMERS.</li>
            <li>Обработка торцов от растрескивания составом TEKNOS.</li>
            <li>Сверление отверстий для скрытой установки электрики(Укладка ПВХ трубок).</li>
            <li>Профильная система по Вашему выбору.</li>
            <li>Межвенцовый уплотнитель.</li>
            <li>Балки перекрытия из доски 50х200мм экспортного качества или клееные конструкционные балки, обработанные огнебиозащитным составом.</li>
        </ul>
        <div class="sub-tabs">
            <p>
                В стоимость проекта также входят транспортные и накладные расходы, организация проживания рабочих, 
                монтаж, все расходы и сопутствующие материалы, инжинерный и технический надзор специалистами компании.
            </p>
        </div>
    </div>
    <li class="tab-a">
        <h3>стеновой комплект</h3>
    </li>
    <div class="container tab-cont">
        <ul>
            <li>2</li>
            <li>Укладка рулонной гидроизоляции «Стеклоизол» на ростверк.</li>
            <li>Подкладочная доска из  лиственницы.</li>
            <li>Брус клееный профилированный сечением 185(h)х202мм/162мм, клеевая система Akzo Nobel (Швеция).</li>
            <li>Антисептирование на производстве составом REMMERS.</li>
            <li>Обработка торцов от растрескивания составом TEKNOS.</li>
            <li>Сверление отверстий для скрытой установки электрики(Укладка ПВХ трубок).</li>
            <li>Профильная система по Вашему выбору.</li>
            <li>Межвенцовый уплотнитель.</li>
            <li>Балки перекрытия из доски 50х200мм экспортного качества или клееные конструкционные балки, обработанные огнебиозащитным составом.</li>
        </ul>
        <div class="sub-tabs">
            <p>
                В стоимость проекта также входят транспортные и накладные расходы, организация проживания рабочих, 
                монтаж, все расходы и сопутствующие материалы, инжинерный и технический надзор специалистами компании.
            </p>
        </div>
    </div>
    <li class="tab-a">
        <h3>кровля</h3>
    </li>
    <div class="container tab-cont">
        <ul>
            <li>3</li>
            <li>Укладка рулонной гидроизоляции «Стеклоизол» на ростверк.</li>
            <li>Подкладочная доска из  лиственницы.</li>
            <li>Брус клееный профилированный сечением 185(h)х202мм/162мм, клеевая система Akzo Nobel (Швеция).</li>
            <li>Антисептирование на производстве составом REMMERS.</li>
            <li>Обработка торцов от растрескивания составом TEKNOS.</li>
            <li>Сверление отверстий для скрытой установки электрики(Укладка ПВХ трубок).</li>
            <li>Профильная система по Вашему выбору.</li>
            <li>Межвенцовый уплотнитель.</li>
            <li>Балки перекрытия из доски 50х200мм экспортного качества или клееные конструкционные балки, обработанные огнебиозащитным составом.</li>
        </ul>
        <div class="sub-tabs">
            <p>
                В стоимость проекта также входят транспортные и накладные расходы, организация проживания рабочих, 
                монтаж, все расходы и сопутствующие материалы, инжинерный и технический надзор специалистами компании.
            </p>
        </div>
    </div>
    <li class="tab-a">
        <h3>окна</h3>
    </li>
    <div class="container tab-cont">
        <ul>
            <li>2</li>
            <li>Укладка рулонной гидроизоляции «Стеклоизол» на ростверк.</li>
            <li>Подкладочная доска из  лиственницы.</li>
            <li>Брус клееный профилированный сечением 185(h)х202мм/162мм, клеевая система Akzo Nobel (Швеция).</li>
            <li>Антисептирование на производстве составом REMMERS.</li>
            <li>Обработка торцов от растрескивания составом TEKNOS.</li>
            <li>Сверление отверстий для скрытой установки электрики(Укладка ПВХ трубок).</li>
            <li>Профильная система по Вашему выбору.</li>
            <li>Межвенцовый уплотнитель.</li>
            <li>Балки перекрытия из доски 50х200мм экспортного качества или клееные конструкционные балки, обработанные огнебиозащитным составом.</li>
        </ul>
        <div class="sub-tabs">
            <p>
                В стоимость проекта также входят транспортные и накладные расходы, организация проживания рабочих, 
                монтаж, все расходы и сопутствующие материалы, инжинерный и технический надзор специалистами компании.
            </p>
        </div>
    </div>
    <li class="tab-a">
        <h3>отделка</h3>
    </li>
    <div class="container tab-cont">
        <ul>
            <li>2</li>
            <li>Укладка рулонной гидроизоляции «Стеклоизол» на ростверк.</li>
            <li>Подкладочная доска из  лиственницы.</li>
            <li>Брус клееный профилированный сечением 185(h)х202мм/162мм, клеевая система Akzo Nobel (Швеция).</li>
            <li>Антисептирование на производстве составом REMMERS.</li>
            <li>Обработка торцов от растрескивания составом TEKNOS.</li>
            <li>Сверление отверстий для скрытой установки электрики(Укладка ПВХ трубок).</li>
            <li>Профильная система по Вашему выбору.</li>
            <li>Межвенцовый уплотнитель.</li>
            <li>Балки перекрытия из доски 50х200мм экспортного качества или клееные конструкционные балки, обработанные огнебиозащитным составом.</li>
        </ul>
        <div class="sub-tabs">
            <p>
                В стоимость проекта также входят транспортные и накладные расходы, организация проживания рабочих, 
                монтаж, все расходы и сопутствующие материалы, инжинерный и технический надзор специалистами компании.
            </p>
        </div>
    </div>
    <li class="tab-a">
        <h3>доставка</h3>
    </li>
    <div class="container tab-cont">
        <ul>
            <li>6</li>
            <li>Укладка рулонной гидроизоляции «Стеклоизол» на ростверк.</li>
            <li>Подкладочная доска из  лиственницы.</li>
            <li>Брус клееный профилированный сечением 185(h)х202мм/162мм, клеевая система Akzo Nobel (Швеция).</li>
            <li>Антисептирование на производстве составом REMMERS.</li>
            <li>Обработка торцов от растрескивания составом TEKNOS.</li>
            <li>Сверление отверстий для скрытой установки электрики(Укладка ПВХ трубок).</li>
            <li>Профильная система по Вашему выбору.</li>
            <li>Межвенцовый уплотнитель.</li>
            <li>Балки перекрытия из доски 50х200мм экспортного качества или клееные конструкционные балки, обработанные огнебиозащитным составом.</li>
        </ul>
        <div class="sub-tabs">
            <p>
                В стоимость проекта также входят транспортные и накладные расходы, организация проживания рабочих, 
                монтаж, все расходы и сопутствующие материалы, инжинерный и технический надзор специалистами компании.
            </p>
        </div>
    </div>

    </ul>
</section>
<section class="gallery gallery-project-home">
    <div class="container">
        <p>Фотографии проекта в ходе его реализации</p>
        <span>галерея <span class="icon-down-open-big"></span></span>
    </div>
    <section class="gallery-grid">
        <div class="grid-container">
            <div class="first">
                <a href="" class="img-s">
                    <img src="img/dom1.jpg" alt="">
                </a>
                <a href=""class="gallery-blog">
                    <div class="build-home">
                        <div class="gallery-card">
                            <div class="project-item-describe">
                                <div class="project-item-describe-head">
                                    <div class="head-header">
                                        <p><span class="sand-color">проект</span> голубая мечта</p>
                                    </div>
                                    <div class="head-subheader">
                                        <p>Материал: стекло, бетон</p>
                                    </div>
                                </div>
                                <div class="project-item-describe-foot">
                                    <div class="project-item-describe-foot-left">
                                        <span class="icon-svg3"></span><p>2</p><span class="icon-svg2"></span><p>2</p><p>количество комнат - 8</p>
                                    </div>
                                    <div class="project-item-describe-foot-right">
                                        <span class="sand-color">350 m<sup>2</sup></span><p>2 этажа</p>
                                    </div>
                                </div>
                                <p class="describe-foot-p" >размер строения - 10 <sup>M</sup> / 5,5 <sup>M</sup></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="second">
                <a href="" class="img-s">
                    <img src="img/dom2.jpg" alt="">
                </a>
            </div>
            <div class="third">
                <a href="" class="img-s">
                    <img src="img/dom3.jpg" alt="">
                </a>
                <a href="" class="img-s">
                    <img src="img/dom5.jpg" alt="">
                </a>
            </div>
            <div class="five">
                <a href="" class="img-s">
                    <img src="img/dom4.jpg" alt="">
                </a>
            </div>
            <div class="six">
                <a href="" class="img-s">
                    <img src="img/dom6.jpg" alt="">
                </a>
                <div class="gallery-frame">
                    <a href="" class="frame-quad" >
                        <div class="frame">
                            <div class="frame-arrow">
                                <div class="frame-arrow-item"></div>
                            </div>
                            <div class="frame-text">
                                <h3>смотреть портфолио</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="four">
                <a href="" class="img-s">
                    <img src="img/dom8.jpg" alt="">
                </a>
            </div>
            <div class="gallery-card">
                <a href="" class="img-s">
                    <img src="img/dom7.jpg" alt="">
                </a>
            </div>
          </div>
    </section>
</section>

{% endblock %}