{% extends "./includes/layout-about.twig" %}

{% block content %}
<section class="header-about">
    <div class="container">
        <div class="header-about-h1">
            <h1>Контакты</h1>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li><a class="breadcrumbs-link" href="">Главная</a></li>
                <li><a class="breadcrumbs-link" href="">Блог</a></li>
                <li><a class="breadcrumbs-link" href="">Контакты</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="contacts-block-1">
    <div class="container">
        <div class="contacts-grey-line">
            <p>Ваше мнение - лучший показатель нашей работы</p>
        </div>
    </div>
</section>
<section class="reviews">
    <div class="container">
        <div class="reviews-wrap">
            <div class="reviews-item">
                <div class="reviews-item-left">
                    <div class="reviews-img">
                        <img src="/img/reviews1.jpg" alt="">
                    </div>
                </div>
                <div class="reviews-item-right">
                    <h3>петр иванов. <span class="sand-color"> Строительство загородного дома.</span></h3>
                    <p class="date">22 сент, 2019</p>
                    <p>
                        Компания «Конкрит» обладает пятнадцатилетним опытом в сфере строительства — 
                        за это время мы прошли путь от небольшой команды, специализирующейся на фундаментных работах до 
                        крупного предприятия с собственным проектным, дизайнерским и инженерным отделом, обширным автопарком спецтехники,
                        и множеством довольных заказчиков, включая известные государственные корпорации.
                    </p>
                </div>
            </div>
            <div class="reviews-item">
                <div class="reviews-item-left">
                    <div class="reviews-img">
                        <img src="/img/reviews1.jpg" alt="">
                    </div>
                </div>
                <div class="reviews-item-right">
                    <h3>Валентина сидорова. <span class="sand-color">Строительство бани.</span></h3>
                    <p class="date">22 сент, 2019</p>
                    <p>
                        Компания «Конкрит» обладает пятнадцатилетним опытом в сфере строительства — 
                        за это время мы прошли путь от небольшой команды, специализирующейся на фундаментных работах до 
                        крупного предприятия с собственным проектным, дизайнерским и инженерным отделом, обширным автопарком спецтехники,
                        и множеством довольных заказчиков, включая известные государственные корпорации. <br/>
                        На счету компании как промышленные здания, так и множество объектов индивидуального строительства — как простые и весьма 
                        бюджетные дома, так и особняки с высокой архитектурной сложностью и множеством оригинальных решений. 
                        При этом к реализации каждого проекта мы подходим индивидуально, 
                        и она строго контролируется нашими специалистами в соответствии со всеми строительными нормами.
                    </p>
                </div>
            </div>
            
            <div class="reviews-item">
                <div class="reviews-item-left">
                    <div class="reviews-img">
                        <img src="/img/reviews1.jpg" alt="">
                    </div>
                </div>
                <div class="reviews-item-right">
                    <h3>Тамара петрова. <span class="sand-color">Строительство загородного дома.</span></h3>
                    <p class="date">22 сент, 2019</p>
                    <p>
                        Компания «Конкрит» обладает пятнадцатилетним опытом в сфере строительства — 
                        за это время мы прошли путь от небольшой команды, специализирующейся на фундаментных работах до 
                        крупного предприятия с собственным проектным, дизайнерским и инженерным отделом, обширным автопарком спецтехники,
                        и множеством довольных заказчиков, включая известные государственные корпорации.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slogan-about">
    <div class="slogan-line">
        <div class="container">
            <div class="slogan">
                <div class="h1"> ВЫ МЕЧТАЕТЕ - МЫ ВОПЛОЩАЕМ.</div>
            </div>
        </div>
    </div>
</section>
<section class="about-news">
    <div class="blog-news">
        <div class="container">
            <div class="blog-wrap">
                <div class="blog-item">
                    <div class="blog-header">
                        <p>Зима пришла</p>
                    </div>
                    <div class="blog-subheader">
                        <p>А мы всеравно строим</p>
                    </div>
                    <div class="blog-date">
                        <p>22 сент. 2019</p>
                    </div>
                    <div class="blog-text">
                        <p>
                        Технология горизонтально направленого бурения 
                        позволяет оперативно и безопасно проложить 
                        инженерные коммуникации, не меняя окружающий
                        </p>
                    </div>
                    <div class="span-nav">
                        <a href="">Подробнее</a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-header">
                        <p>Новые высоты с новым краном</p>
                    </div>
                    <div class="blog-subheader">
                        {# <p>А мы всеравно строим</p> #}
                    </div>
                    <div class="blog-date">
                        <p>22 сент. 2019</p>
                    </div>
                    <div class="blog-text">
                        <p>
                        Технология горизонтально направленого бурения 
                        позволяет оперативно и безопасно проложить 
                        инженерные коммуникации, не меняя окружающий
                        </p>
                    </div>
                    <div class="span-nav">
                        <a href="">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="blog-button">
                <button class="btn">Читать в блоге</button>
            </div>
        </div>
    </div>
</section>


{% endblock %}