{% extends "./includes/layout-about.twig" %}

{% block content %}

<section class="header-about">
    <div class="container">
        <div class="header-about-h1">
            <h1>услуги</h1>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li><a class="breadcrumbs-link" href="">Главная</a></li>
                <li><a class="breadcrumbs-link" href="">Блог</a></li>
                <li><a class="breadcrumbs-link" href="">Услуги</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="services-home">
    <div class="slogan-line-2">
        <div class="container">
            <div class="slogan-2">
                <div class="h1"> Строительство домов</div>
                <div class="slogan-caption">Из любых материалов. Так, как хотелось бы именно вам.</div>     
            </div>
            <div class="blue-line"></div>
        </div>
    </div>
        <div class="doma">
        <div class="container">
            <div class="doma-examples">
                <a href="#" class="doma-item">
                    <img src="img/dom1.jpg" alt="Кирпичные дома">
                    <p>Кирпичные дома</p>
                </a>
                <a href="#" class="doma-item">
                    <img src="img/dom2.jpg" alt="Монолитные дома">
                    <p>Монолитные дома</p>
                </a>
                <a href="#" class="doma-item">
                    <img src="img/dom3.jpg" alt="Кирпичные дома">
                    <p>Дома <br/> из керамоблоков</p>
                </a>
                <a href="#" class="doma-item">
                    <img src="img/dom4.jpg" alt="Кирпичные дома">
                    <p>Дома из <br/> силикатных блоков</p>
                </a>
                <a href="#" class="doma-item">
                    <img src="img/dom5.jpg" alt="Кирпичные дома">
                    <p>Дома из профилированного бруса</p>
                </a>
                <a href="#" class="doma-item">
                    <img src="img/dom6.jpg" alt="Кирпичные дома">
                    <p>Дома из оцилиндрованного бревна</p>
                </a>
                <a href="#" class="doma-item">
                    <img src="img/dom7.jpg" alt="Кирпичные дома">
                    <p>Дома из клееного бруса</p>
                </a>
                <a href="#" class="doma-item">
                    <img src="img/dom8.jpg" alt="Кирпичные дома">
                    <p>Рубленные дома</p>
                </a>
            </div>
        </div>
        <div class="about-blue-line">
                <div class="container">
                    <div class="doma-wrap">
                        <div class="doma-about">
                            <h1>другие услуги</h1>
                         </div>
                         <div class="doma-arrow-down"></div>
                         <div class="doma-text">
                             <p>Комания Конкрит предлагает целую серию комплексных услуг, 
                             сопровождающих непосредственно строительство сооружений - 
                             от проектирования до подбора подходящего участка для строительства</p>
                         </div>
                    </div>
                </div>
        </div>
        </div>
</section>
<section class="services-options">
    <div class="container">
        <div class="service">
            <div class="service-line">
                <div class="service-line-block" style="justify-content: space-between;">
                    <div><img src="img/Icons/icon1.png" alt=""></div>
                    <h2>проектирование</h2>
                    <p>Проектирование, наряду с анализом требований, 
                        является частью большой стадии жизненного цикла системы, 
                        называемой определением системы.
                        Результаты этой стадии являются входной информацией для стадии реализации.
                    </p>
                    <div><button class="btn">Подробнее</button></div>
                </div>
                <div class="service-line-block" style="justify-content: space-between;">
                    <div><img src="img/Icons/icon2.png" alt=""></div>
                    <h2>дизайн интерьера</h2>
                    <p>
                        В современный дизайн интерьера гостиной органично вплетены стильные ... 
                        Дизайн квартиры в современном стиле — это не просто соблюдение четких правил декора.

                    </p>
                    <div><button class="btn">Подробнее</button></div>
                </div>
                <div class="service-line-block" style="justify-content: space-between;">
                    <div><img src="img/Icons/icon3.png" alt=""></div>
                    <h2>внутренние <br/> отделочные работы</h2>
                    <p>
                        Cтроительно отделочные работы любой сложности: частных домах, 
                        офисах доступные цены. <br/> Без посредников. Без накруток. 
                        Без скрытых платежей.
                    </p>
                    <div><button class="btn">Подробнее</button></div>
                </div>
            </div>
            <div class="service-line">
                <div class="service-line-block">
                    <div><img src="img/Icons/icon4.png" alt=""></div>
                    <h2>общестроительные работы</h2>
                    <div>
                        <ul>
                            <li><a href="">Монтаж фундаментов</a></li>
                            <li><a href="">Монтаж заборов</a></li>
                            <li><a href="">Фасадные работы</a></li>
                            <li><a href="">Кровельные работы</a></li>
                            <li><a href="">Реконструкция и реставрация зданий</a></li>
                        </ul>
                    </div>
                </div>
                <div class="service-line-block">
                    <div><img src="img/Icons/icon5.png" alt=""></div>
                    <h2>комерческое строительство</h2>
                    <div>
                        <ul>
                            <li><a href="">Строительство ангаров</a></li>
                        </ul>
                    </div>
                </div>
                <div class="service-line-block">
                    <div><img src="img/Icons/icon6.png" alt=""></div>
                    <h2>Инженерные сети</h2>
                    <div>
                        <ul>
                            <li><a href="">Водопровод</a></li>
                            <li><a href="">Газоснабжение</a></li>
                            <li><a href="">Канализация</a></li>
                            <li><a href="">Отопление</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="service-line">
                <div class="service-line">
                    <div class="service-line-block">
                        <div><img src="img/Icons/icon7.png" alt=""></div>
                        <h2>Аренда спецтехники</h2>
                        <div>
                            <ul>
                                <li><a href="">Строительная спецтехника</a></li>
                                <li><a href="">Коммунальные машины</a></li>
                                <li><a href="">Машины для разработки карьеров</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="service-line-block">
                        <div><img src="img/Icons/icon8.png" alt=""></div>
                        <h2>горизонтально <br/> направленное бурение</h2>
                        <div>
                            <ul>
                                <li><a href="">Проколы под дорогой, водоемами и зданияме</a></li>
                                <li><a href="">замена и перекладка трубопроводов</a></li>
                                <li><a href="">Безтраншейная прокладка коммуникаций</a></li>
                                <li><a href="">Стыковая сварка труб</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="service-line-block">
                        <div><img src="img/Icons/icon9.png" alt=""></div>
                        <h2>малые архитектурные формы</h2>
                        <div>
                            <ul>
                                <li><a href="">Беседки</a></li>
                                <li><a href="">Садово-парковые сооружения</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}